@import "../../variables";

.family-list {
	flex:0 0 45%;
	background-color: $lightest-grey;
	border-bottom-left-radius: 7px;
	overflow:hidden;
}

.family {
	display:flex;
	flex-flow: row nowrap;
	margin-top: 20px;
	cursor:pointer;
	color:$dark-grey;
	transition: color .2s ease;
	position: relative;
	padding: 10px 20px;
	transition: all 250ms;
	background-color: mix(black, $lightest-grey, 3%);

	&:first-of-type {
		background-color: mix(black, $lightest-grey, 3%);
	}
	&:nth-child(2n+1) {
		background-color: $white;
	}
	&.is-active {
		color: $green;
	}
	&:hover {
		color: $green;
		transform: scale(1.01);
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	&:hover &-sample.elzevir, &.is-active &-sample.elzevir {
		background-image: url('../../../images/elzevir-sample-active.svg') !important;
	}

	&:hover &-sample.john-fell, &.is-active &-sample.john-fell {
		background-image: url('../../../images/john-fell-sample-active.svg') !important;
	}

	&:hover &-sample.venus, &.is-active &-sample.venus {
		background-image: url('../../../images/grotesk-sample-active.svg') !important;
	}

	&-sample.elzevir {
		background-image: url('../../../images/elzevir-sample-hover.svg');
	}

	&-sample.john-fell {
		background-image: url('../../../images/john-fell-sample-hover.svg');
	}

	&-sample.venus {
		background-image: url('../../../images/grotesk-sample-hover.svg');
	}

	&-sample {
		flex:0 0 70px;
		height:43px;
		background-repeat: no-repeat;
		margin: 3px 30px 0 0;
		background-size:contain;
	}

	&-info {
		font-weight:600;
		letter-spacing:0.02em;

		&-name {
			font-size:17px;
			text-overflow: ellipsis;
			overflow:hidden;
		}

		&-base {
			font-size:10px;

			&-template {
				font-size: 17px;
				font-weight:400;
				font-style:italic;
			}
		}
	}

	.view-panels-menu {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}

.add-family {
	background-color:$white;
	cursor:pointer;
	transition:all .2s ease;
	margin-bottom:15px;
	border-radius:4px;

	&-form {
		width:630px;

		&-header {
			display:flex;
			flex-flow:row nowrap;
			justify-content:space-between;

			&-title {
				margin:0;
			}

			&-close {
				cursor:pointer;
				background-color: $lightest-grey;
				border-radius: 50%;
				height: 30px;
				margin-top: 10px;

				&:hover {
					background-color:$light-grey;
				}
			}
		}

		&-input {
			display: block;
			width: 100%;
			border:none;
			padding: .8em;
			background-color: $lightest-grey;
			color:$dark-grey;
			font-size: 1.1em;
			margin-bottom: 1em;
			margin-top:20px;
		}

		&-label {
			display: inline-block;
			margin-top: 5px;
			font-size:1.1em;

			color: $dark-grey;

			&-order {
				@include themify() {
					color:$theme-background;
				}
			}
		}

		&-template-list {
			margin-bottom: 15px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}

		&-error {
			width: 100%;
			text-align: center;
			padding: 5px;
			background-color: $red;
			margin-bottom: 15px;
			color: $white;
		}
	}

	&-header {
		display:flex;
		flex-flow:row nowrap;
		margin-left:20px;

		&-icon {
			margin-right:15px;
		}
	}

	&.with-error {
		flex-basis:600px;
	}

	&.family-form-open &-header {
		display:none;
	}

	&.family-form-open &-form {
		display:block;
	}

	&:hover {
		color:$dark-grey;
	}

}

.family-template-choice {
	margin-top:20px;
	text-align:center;
	flex-basis: 200px;

	&:hover &-name, &.is-active &-name {
		@include themify() {
			background-color:$theme-background;
			color:$theme-color;
		}
	}

	&-sample {
		padding:15px;
		height:200px;
		line-height:85px;
		transition:all .2s ease;
		color:$dark-grey;
		background-color:$lightest-grey;

		img {
			margin-top:45px;
			vertical-align:bottom;
		}
	}

	&:hover &-sample, &.is-active &-sample {
		@include themify() {
			background-color:$theme-background;
			color:$theme-color;
		}
	}

	&-name {
		font-size: 1.3em;
		text-align: center;
		background-color: $dark-grey;
		color: $white;
		padding: 10px;
		transition:all .2s ease;
	}
}
