/* COLORS
 ----------------------------------------------------------------- */

$green: #49e4a9;
$light-green: #6ceab4;
$dark-grey: #3B3B3B;
$medium-grey: #7e7e7e;
$light-grey: #C6C6C6;
$lightest-grey: #F6F6F6;
$white: #fefefe;
$black: #232323;
$red: #ff725e;
$blue: #00c4d6;

/* LAYOUT
 ----------------------------------------------------------------- */

/* inside .main
 ----------------------------------------------------------------- */

 $sidebar-w: 300px;

/* inside .sidebar
 ----------------------------------------------------------------- */

$mainmenu-h: 2rem;
$altscene-h: 20rem;
$parammenu-h: 8rem;

/* inside .sidebar
 ----------------------------------------------------------------- */

$glyphlist-h: 5.5rem;