@import "variables";

.glyphlist {
	height: 100%;
	table-layout: auto;
	background-color: $lightest-grey;
}

.glyphlist li {
	width: 2rem;
	height: 100%;
	padding: 0 .5em;

	font-size: 2.2rem;
	color: $light-grey;
	vertical-align: middle;
	text-align: center;

	border-right: 1px solid white;
	cursor: pointer;

	-webkit-transition: background-color 0.5s ease-in, color 0.5s ease-in;
	transition:         background-color 0.5s ease-in, color 0.5s ease-in;
}

.glyphlist .selected,
.glyphlist :hover {
	background-color: $light-green;
	color: white;
	-webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
	transition:         background-color 0.2s ease-in, color 0.2s ease-in;
}