@import "variables";

.glyphlist {
	position: absolute;
	bottom: 0;
	z-index: 2;
	transform: translateY(100%);

	height: auto;
	padding-left: 2rem;
	border-top: 5px solid $light-green;

	background-color: $lightest-grey;

	transition: transform 200ms ease-in;

	&:hover {
		transform: translateY(0);
	}
}

.glyphlist li {
	float: left;
	display: block;

	min-width: 5rem;
	height: 6rem;
	padding: 0 .8em;

	font-size: 2.2rem;
	line-height: 6rem;
	color: $light-grey;
	text-align: center;

	border-right: 1px solid white;
	border-bottom: 1px solid white;
	cursor: pointer !important;

	transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.glyphlist li.selected,
.glyphlist li:hover {
	background-color: $light-green;
	color: white;
	transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.glyphTab {
	height: 7.3rem;
	margin-top: -7.3rem;
	width: 100%;
	float: left;
	padding: 1rem;
	span {
		background-color: $green;
		color: white;
		padding: 1.2rem;
	}
}
.glyphlist-cell:hover .glyphTab span { opacity: .5; }