@import "variables";

html,
body,
.main,
.main > div {
	height: 100%;
}

.cell {
	position: relative;
	overflow: hidden;
}
.cell > * {
	// why do we need this absolute in relative container?
	position: absolute;
	height: 100%;
	width: 100%;
}

/* inside .main
 ----------------------------------------------------------------- */


.sidebar {
	width: $sidebar-w;
}

.central {
	width: -webkit-calc(100% - #{$sidebar-w});
	width:         calc(100% - #{$sidebar-w});
}

/* inside .sidebar
 ----------------------------------------------------------------- */

.mainmenu-cell {
	height: $mainmenu-h;
}

.altscene-cell {
	height: $altscene-h;
}

.parammenu-cell {
	height: $parammenu-h;
}

.paramtabs-cell {
	height: -webkit-calc(100% - #{$mainmenu-h} - #{$altscene-h} - #{$parammenu-h});
	height:         calc(100% - #{$mainmenu-h} - #{$altscene-h} - #{$parammenu-h});
	max-height: -webkit-calc(100% - #{$mainmenu-h} - #{$altscene-h} - #{$parammenu-h});
	max-height:         calc(100% - #{$mainmenu-h} - #{$altscene-h} - #{$parammenu-h});
}

/* inside .sidebar
 ----------------------------------------------------------------- */

.scene-cell {
	height: -webkit-calc(100% - #{$glyphlist-h});
	height:         calc(100% - #{$glyphlist-h});
}

.glyphlist-cell {
	height: $glyphlist-h;
}