/* Will be compiled down to a single stylesheet with your sass files */

.parameters {
	position: absolute;
}
.parameters label {
	display: block;
}

.interface {
	position:absolute;
	right: 0;
}
.slider {
	background-color: lightgrey;
	width: 200px;
	position: relative;
	height: 10px;
}
.handle {
	width: 10px;
	height: 10px;
	background-color: red;
	position: absolute;
}