/* Will be compiled down to a single stylesheet with your sass files */
html,
body,
.main,
.main > div,
.main > div > div {
	height: 100%;
}

body {
	font-family: "Helvetica", "Arial", "Liberation Sans", sans-serif;
	color: #111;
}

.scene {
	width: auto;
	vertical-align: top;
}
.sidebar {
	width: 300px;
}
/* without this, the params panel would be initialized w/ width @100% */
.sidebar:only-child {
	display: block;
}

.paramspanel {
	background-color: #F0F0F0;
	padding: 1rem;
}

.paramctrl {
	margin-top: 1.4rem;

	font-size: 1.2rem;
}

.paramctrl:before {
	float: right;
	content: attr(value);
}

.paramctrl label {
	text-transform: uppercase;
}

.paramctrl-gutter,
.paramctrl-bg,
.paramctrl-handle {
	border-radius: 1rem;
}

.no-radius {
	border-radius: 0;
}

.paramctrl-gutter {
	overflow: hidden;
	background-color: #FFF;
}

.paramctrl-bg {
	height: 2rem;

	background-color: #90EE90;
}

.paramctrl-handle {
	float: right;
	width: 2rem;
	height: 2rem;
	border: 0.5rem solid #90EE90;

	background-color: #575756;
}