@import "variables";

.paramtabs {
	.dummy {
		display: block !important;
		border-radius: 0 !important;
	}
}

.paramtab {
	visibility: hidden;

	ul {
		padding: 1rem;
		-webkit-transition: transform 0.3s;
		        transition: transform 0.3s;
	}

	&.initialized {
		visibility: visible;
		display: none;
	}

	&.selected {
		display: block;
	}

	/*&:after,
	&:before {
		content: "";
		position: absolute;
		z-index: 2;
		left: 0;
		width: 100%;
		height: 40px;

		box-shadow: 0 -10px 0 -10px blue;
		-webkit-transition: box-shadow 0.6s;
		        transition: box-shadow 0.6s;
	}

	&:after {
		bottom: -40px;
	}
	&.content-below:hover:after {
		box-shadow: 0 -10px 20px -10px blue;
	}

	&:before {
		top: -40px;
	}
	&.content-above:hover:before {
		box-shadow: 0 10px 20px -10px blue;
	}*/
}

.paramctrl {
	display: block;
	margin-top: 1.4rem;
	font-size: 1.2rem;
	color: $lightest-grey;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover .reset {
		opacity: 1;
		transition: opacity 500ms ease;
	}
}

.paramctrl label {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-left: .8em;
	display: inline-block;

	pointer-events: none;
}

.paramctrl .reset {
	opacity: 0;
	margin-left: 1rem;
	display: inline-block;

	cursor: pointer;
	color: $medium-grey;
	&:hover {
		color: $red;
	}
}

.paramctrl input {
	display: inline-block;
	position: absolute;
	right: .8em;
	width: 4rem;

	font-size: inherit;
	text-align: right;

	background: none;
	border: 0;
	border-radius: 0;

	color: $medium-grey;
	&:hover,
	&:focus {
		color: inherit;
	}

	// remove spinner buttons in webkit
	// they look ok in Firefox, so we leave them alone
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.paramctrl-gutter,
.paramctrl-bg,
.paramctrl-handle {
	border-radius: 1rem;
	cursor: pointer;
}

.paramctrl-gutter {
	overflow: hidden;
	background-color: #FFF;
	margin-top: .5em;
}

.paramctrl-bg {
	height: 2rem;
	background-color: $green;
	transition: background-color 500ms ease;

	&.out-of-advised {
		background-color: $red;

		.paramctrl-handle {
			border-color: $red;
		}
	}
}

.paramctrl-handle {
	float: right;
	width: 2rem;
	height: 2rem;
	border: 0.5rem solid $green;
	background-color: lighten($dark-grey, 10%);
	transition: border-color 500ms ease;
}