@import "variables";

.paramtabs {
	.dummy {
		display: block !important;
		border-radius: 0 !important;
	}
}

.paramtab {
	visibility: hidden;

	ul {
		padding: 1rem;
		-webkit-transition: transform 0.3s;
		        transition: transform 0.3s;
	}

	&.initialized {
		visibility: visible;
		display: none;
	}

	&.selected {
		display: block;
	}

	/*&:after,
	&:before {
		content: "";
		position: absolute;
		z-index: 2;
		left: 0;
		width: 100%;
		height: 40px;

		box-shadow: 0 -10px 0 -10px blue;
		-webkit-transition: box-shadow 0.6s;
		        transition: box-shadow 0.6s;
	}

	&:after {
		bottom: -40px;
	}
	&.content-below:hover:after {
		box-shadow: 0 -10px 20px -10px blue;
	}

	&:before {
		top: -40px;
	}
	&.content-above:hover:before {
		box-shadow: 0 10px 20px -10px blue;
	}*/
}

.paramctrl {
	display: block;
	margin-top: 1.4rem;
	font-size: 1.2rem;
	color: $lightest-grey;
}

.paramctrl:before {
	float: right;
	content: attr(value);
	opacity: .1;
}

.paramctrl:hover:before {
	opacity: 1;
}

.paramctrl label {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-left: .8em;
	pointer-events: none;
}

.paramctrl-gutter,
.paramctrl-bg,
.paramctrl-handle {
	border-radius: 1rem;
	cursor: pointer;
}

.paramctrl-gutter {
	overflow: hidden;
	background-color: #FFF;
	margin-top: .5em;
}

.paramctrl-bg {
	height: 2rem;
	background-color: #90EE90;
	transition: background-color 500ms ease;
}

.paramctrl-handle {
	float: right;
	width: 2rem;
	height: 2rem;
	border: 0.5rem solid #90EE90;
	background-color: #575756;
	transition: border-color 500ms ease;
}