@import "variables";

$input-h: 3rem;

.preview,
.presets {
	&>div {
		background-color: white;
		border-right: 1px solid $green;
	}
}

.sidebar {
	.preview {
		#string {
			transform: scale(1,-1) !important; // overide inverted view in sidebar
		}
		path {
			fill: $dark-grey !important; // overide negative view
		}
		#guidelines {
			display: none !important;
		}
	}
}

.central {
	.preview {
		&>div {
			background-color: transparent;
			border-right: none;
		}
		path.baseLine {
			display: none;
		}
		path:hover {
			fill: lighten($dark-grey,15%);
			transition: fill 0.15s ease-in, color 0.15s ease-in;
			cursor: pointer;
			box-shadow: 2px 0px 5px #222
		}
	}
}
