@import "variables";

.splash-login-bg {
	width: 100%;
	height: 100%;

	// background: url(../images/prototypo-blured.png);
	background-repeat: none;
	background-size: 100%
}

.splash-login-wrapper {

	*:hover {
		transition: all 300ms ease;
	}

	input,
	.discret {
		display: block;
		width: 100%;

		border: 1px solid $light-green;
		border-radius: 10px;
		padding: .8em;
		background-color: $white;
		font-size: 1.1em;

		margin-bottom: 1em;
		&[type="text"]:disabled {
			background-color: $light-green;
		}
	}

	label {
		display: inline-block;
		margin-bottom: 5px;

		color: $white;
		font-weight: bold;
	}

	input[type="button"],
	input[type="submit"],
	.discret {
		float: right;
		display: inline-block;
		width: auto;
		margin-top: 10px;

		color: $white;
		font-size: 1.2em;
		font-weight: bold;

		padding: .9em;
		color: $white;
		border: 3px solid $white;
		background-color: $green;

		cursor: pointer;

		&:hover {
			background-color: $white;
			color: $green;
		}
	}

	.discret {
		border: 3px solid $green;
		font-size: 1.1em;
		width: 100%;
		text-decoration: none;
		text-align: center;
	}

	a {
		font-weight: normal;
	}

	.mention {
		text-decoration: none;
		font-weight: bold;
		font-size: .9em;
		margin-top: .5em;
		display: inline-block;
	}

	.error {
		// float: left;
		// one line high
		// height: calc( 1.5 * 1.4em );

		overflow: hidden;
		// matches buttons margin and padding
		margin: 2em 0;
		padding: .8em;

		background-color: lighten($red,25%);
		color: $red;

		p {
			margin: 0;
		}
	}
}