@import "variables";

#userPanel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $black;
	z-index: 10;
	
	color: $white;

	section, h3 {
		padding: 1em;
	}
	
	.user-thumb {
		width: 40%;
		margin: 2em auto;
	}
}