@import "variables";

.zoom {
	position: absolute;
	z-index: 10;
	top: 3rem;
	right: 3rem;

	width: 4rem;
	height: auto;

	opacity: .9;

	a {
		border: none;
		background-color: lighten( $light-green, 5% );
		width: 4rem;
		height: 4rem;
		float: right;
		font-size: 2.5rem;
		font-weight: bold;
		color: darken( $green, 10% );
		text-align: center;
		line-height: 4rem;
		border: 1px solid transparent;
	}

	:nth-child(even) {
		background-color: lighten( $light-green, 15% );
	}
	:hover {
		background-color: lighten( $light-green, 30% );
		border: 1px solid $light-green;
	}
}