@import "variables";

.zoom {
	position: absolute;
	top: 3rem;
	right: 3rem;
	z-index: 10;
	width: 4rem;
	opacity: .9;
	input {
		border: none;
		background-color: $light-green;
		width: 4rem;
		height: 4rem;
		float: right;
		font-size: 2rem;
		font-weight: bold;
		color: $green;
	}
	:nth-child(even) {
		background-color: lighten( $light-green, 10% );
	}
	:hover {
		background-color: lighten( $light-green, 30% );
		border: 1px solid $light-green;
	}
}