{
	"presets": ["react", ["env", {"modules": false, "useBuiltIns": true}]],
	"plugins": [
		"react-hot-loader/babel",
		"syntax-async-functions",
		"transform-regenerator",
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-flow-strip-types",
		["babel-project-relative-import", {
			"sourceDir": "app/scripts/"
		}]
	],
	"env": {
		"test": {
			"plugins": ["transform-es2015-modules-commonjs"]
		}
	}
}
