{
	"presets": ["react", ["env", {"modules": false}]],
	"plugins": [
		"react-hot-loader/babel",
		"syntax-async-functions",
		"transform-regenerator",
		"transform-class-properties",
		"transform-object-rest-spread",
		["babel-project-relative-import", {
			"sourceDir": "app/scripts/"
		}]
	],
	"sourceMaps": true
}
