node_modules
.tmp
.tern-port
.sass-cache
app/components
app/bower_components
app/webcomponents
app/_typeface/default.typeface.js
aws.conf.json
npm-debug.log
dist
*.swp
reports/
coverage
.yarn.lock
yarn-error.log
package-lock.json
.vscode
