[project]
	description = Create your own font in a few clicks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Francois Poizat (FranzPoize)
[access "refs/for/refs/*"]
	read = group user/Francois Poizat (FranzPoize)
	push = group user/Francois Poizat (FranzPoize)
	label-Code-Review = -2..+2 group user/Francois Poizat (FranzPoize)
	label-Verified = -1..+1 group user/Francois Poizat (FranzPoize)
	rebase = group user/Francois Poizat (FranzPoize)
	removeReviewer = group user/Francois Poizat (FranzPoize)
	submit = group user/Francois Poizat (FranzPoize)
[access "refs/heads/*"]
	read = group user/Francois Poizat (FranzPoize)
	create = group user/Francois Poizat (FranzPoize)
	push = +force group user/Francois Poizat (FranzPoize)
	pushMerge = group user/Francois Poizat (FranzPoize)
[access "refs/tags/*"]
	push = +force group user/Francois Poizat (FranzPoize)
	pushTag = group user/Francois Poizat (FranzPoize)
	pushSignedTag = group user/Francois Poizat (FranzPoize)
