@import "../../variables";

.prototypo-word-input {
	padding: 10px;
	border: none;
	background: $light-grey;
	width: 100%;
	display: block;
	line-height: 26px;
	text-align: center;
	font-size: 20px;
	margin: 0;

	&:focus {
		outline: none;
	}
}
