@import "../../variables";

.prototypo-word-input {
	padding: 5px;
	border: none;
	color: $black;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 14px;
	margin: 0;

	position: absolute;
	bottom: 0;

	@include themify() {
		background-color: lighten($theme-background, 25%);
	}

	&:focus,
	&:hover {
		outline: none;
		@include themify() {
			background-color: $theme-background;
		}
	}
}
