@import '../variables';

.close-button {
	width:16px;
	height:16px;
	background-color:lighten($red,10%);
	background-opacity:20%;
	color:$white;
	position:absolute;
	top:15px;
	right:15px;
	font-weight:900;
	cursor:pointer;
	z-index:2;
	background-image:url('images/close-icon.svg');
	background-position-x:-2px;
	background-position-y:-2px;

	&:hover {
		background-color:$red;
		background-image:url('images/close-icon-hover.svg');
	}
}

.is-up .prototypo-text .close-button,
.is-up .prototypo-word .close-button {
	right:60px;
}
