@import '../variables';

.close-button {
	width:15px;
	height:15px;
	background-color:$red;
	color:$white;
	position:absolute;
	top:15px;
	right:15px;
	font-weight:900;
	cursor:pointer;
	z-index:12;

	&:hover {
		background-color:darken($red,5%);
	}
}
