@import "../variables";

.font-controls {
	height:100%;
}
.controls-tabs {
	height:100%;
	display:flex;
	flex-direction:column;

	&-headers {
		margin:0;
		padding:0;
		flex:0 0 72px;
		list-style: none;
	}

	&-container {
		flex:1 1 100%;
	}

	&-icon {
		height:72px;
		float:left;
		width:90px;
		background-color: $medium-grey no-repeat center;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		filter: contrast(40%);
		cursor: pointer;
		position:relative;
		border-right: $dark-grey 1px solid;
		transition: background-color 300ms ease;

		&.is-active, &:hover {
			background-color: $green;
			filter: contrast(100%);
			border: none;
			.controls-tabs-icon-legend {
				display: none;
			}
		}

		&-legend {
			color: white;
			position: absolute;
			bottom: 5px;
			text-align: center;
			width: 100%;
			font-size: 10px;
			letter-spacing: 0.05em;
		}

		&.is-active:after {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			display: block;
			width: 0;
			height: 0;

			transform: translate(35px, 8px);
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $green;
		}
	}

	// &-icon span {
	// 	background-color: $medium-grey;
	//
	// 	&.is-active, &:hover {
	// 		background-color: white;
	// 	}
	// }


}

// TODO: ids are forbidden, get rid of 'em
#Func {
	background-image: url('./images/func.svg');
}

#Style {
	background-image: url('./images/style.svg');
}

#Serif {
	background-image: url('./images/serif.svg');
}
