@import "../variables";

.shadow-of-the-colossus {
	position:absolute;
	z-index:0;
	top: 26%;
    left: 36%;
	font-family: 'Prototypo Elze';
	font-size: 501px;
	color: rgba(255,0,123,0.3);
	font-weight: normal;
}

.contextual-menu {
	position:absolute;
	z-index:10;

	&-list {
		border-top:solid 10px #000;
		list-style-type:none;
		padding:0;

		&-item {
			padding:15px;
			color:$white;
			background-color:$dark-grey;
			width: 200px;
			border-bottom:solid 1px $light-grey;
			cursor:pointer;
			position:relative;

			&:hover {
				background-color:$green;
				color:$dark-grey;
			}

			&.is-inactive {
				color:$medium-grey;
			}

			&-dropdown {
				display:none;
				position:absolute;
				list-style-type:none;
				top:-10px;
				left:200px;
				padding:0;
				border-top: solid 10px #000;
			}

			&:hover &-dropdown {
				display:block;
			}

			&.with-dropdown:after {
				content: "▶";
				position:absolute;
				right:10px;
			}
		}
	}
}
