@import "../variables";

.font-controls {
	height:100%;
}
.controls-tabs {
	height:100%;
	display:flex;
	flex-direction:column;

	&-headers {
		margin:0;
		padding:0;
		flex:0 0 72px;
		list-style: none;
	}

	&-container {
		flex:1 1 100%;
	}

	&-icon {
		height:72px;
		float:left;
		width:90px;
		background: lighten($dark-grey, 2%) no-repeat center;
		cursor: pointer;
		position:relative;
		border-right: $dark-grey 1px solid;

		&.is-active, &:hover {
			background-color:$green;
			border: none;
			transition: all 300ms ease;
			.controls-tabs-icon-legend {
				display: none;
			}
		}

		&-legend {
			color: $medium-grey;
			position: absolute;
			bottom: 5px;
			text-align: center;
			width: 100%;
			font-size: 10px;
			letter-spacing: 0.05em;
		}

		&.is-active:after {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			display: block;
			width: 0;
			height: 0;
		}

		&.is-active:after {
			-webkit-transform: translate(35px, 8px);
			transform: translate(35px, 8px);
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $green;
		}
	}

	&-icon span {
		background-color: $medium-grey;

		&.is-active, &:hover {
			background-color: white;
		}
	}
}

#Func {
	-webkit-mask:  url('./images/func.svg') no-repeat 50% 50%;
	mask: url('./images/func.svg') no-repeat 50% 50%;
}

#Style {
	-webkit-mask:  url('./images/style.svg') no-repeat 50% 50%;
	mask: url('./images/style.svg') no-repeat 50% 50%;
}

#Serif {
	-webkit-mask:  url('./images/serif.svg') no-repeat 50% 50%;
	mask: url('./images/serif.svg') no-repeat 50% 50%;
}
