@import '../variables';

.delete-param-group {
	z-index:4;
	left:20px;
	position:absolute;
	top:37px;
	padding:20px;
	color:$medium-grey;
	background-color:$lightest-grey;
	width:304px;

	&-question {
		text-overflow:ellipsis;
		overflow:hidden;
	}

	&-glyphs {
		display:flex;
		flex-flow: row wrap;
	}

	&-glyph {
		background-color:$yellow;
		width:30px;
		height:30px;
		text-align:center;
		line-height:30px;
		margin-right:3px;
		margin-bottom:3px;
		cursor: default;
	}
}
