@import "../variables";
.family-list {
	flex-basis:100%;
	position:relative;

	&-scroll {
		height:100%;
		width:100%;
		position:absolute;
	}
}

.family {
	margin-bottom:20px;
	cursor:pointer;

	&.is-active &-header {
		background-color:$yellow;
		color: $black;
		&-left {
			&-logo {
				opacity: 1;
			}
		}
	}

	&-header {
		background-color: $white;
		padding: 30px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-radius:4px;
		box-shadow: 0px 7px 0px rgba($dark-grey, 0.1);
		position:relative;
		z-index:1;

		transition:all .2s ease-out;

		&-left {
			display:flex;
			flex-flow:row nowrap;

			&-logo {
				padding-right:25px;
				background-image: url("/assets/images/prototypo-icon.svg");
				opacity: 0.3;
				width: 65px;
				background-repeat: no-repeat;
				background-position: 0 15px;
			}

			&-title {
				&-name {
					font-size: 40px;
				}
				&-number-variants {
					&:before {
						font-family: sans-serif;
						content: "→";
						margin-right: .5em;
					}
				}
			}
		}

		&-download {
			position: absolute;
			top: 2.2em;
			right: 2.2em;
			border-radius: 4px;
			background-color: $white;
			padding: 5px 10px;
			transition:all .2s ease;
			display: none;

			&:hover {
				background-color: $green;
				color: $white;
			}
		}

		&-delete {
			align-self: flex-end;
			text-align: right;
			width: 205px;
			display: flex;
			flex-flow: row nowrap;
			overflow: hidden;
			display: none;

			&.is-confirm &-btn {
				margin-left:-70px;
			}

			&-btn {
				padding: 5px;
				border-radius: 4px;
				background-color: $white;
				transition:all .2s ease;
				text-align: center;
				flex: 0 0 70px;
				margin-left:134px;

				&:hover {
					background-color: $red;
					color: $white;
				}
			}

			&-confirm {
				color: $white;
				flex: 0 0 205px;
				display: flex;
				flex-flow: row nowrap;

				span {
					padding-top: .35em;
				}

				&-button {
					border-radius:4px;
					padding: 5px;
					background-color: $white;
					margin-left: 5px;
					color:$dark-grey;
					transition: all .2s ease;

					&:hover {
						background-color: $dark-grey;
						color: $white;
					}
				}
			}
		}

		&:hover {
			background-color: $black;
		}

		&:hover &-left {
			&-logo {
				background-image: url("/assets/images/prototypo-icon-white.svg");
				opacity: 1;
			}
			&-title {
				&-name,
				&-number-variants {
					color: $white;
				}
			}
		}

		&:hover &-download {
			display: block;
		}
		&:hover &-delete {
			display: flex;
		}

	}

	&-variant-list {
		margin: 0 15px;
		transition:height .2s ease;
		overflow:hidden;
	}
}

.add-family {
	background-color:$white;
	cursor:pointer;
	transition:all .2s ease;
	margin-bottom:15px;
	border-radius:4px;
	flex-grow:0;
	flex-shrink:0;
	flex-basis:80px;
	overflow:hidden;

	&-form {
		padding:20px;
		display:none;

		&-header {
			display:flex;
			flex-flow:row nowrap;
			justify-content:space-between;

			&-title {
				margin:0;
			}

			&-close {
				cursor:pointer;
				background-color: $lightest-grey;
				border-radius: 50%;
				height: 30px;
				margin-top: 10px;

				&:hover {
					background-color:$light-grey;
				}
			}
		}

		&-input {
			display: block;
			width: 100%;
			border:none;
			padding: .8em;
			background-color: $lightest-grey;
			color:$dark-grey;
			font-size: 1.1em;
			margin-bottom: 1em;
			margin-top:20px;
		}

		&-label {
			display: inline-block;
			margin-top: 5px;
			font-size:1.1em;

			color: $dark-grey;

			&-order {
				color:$green;
			}
		}

		&-template-list {
			display: flex;
			flex-flow: row wrap;
		}

		&-button {
			width:100%;
			background-color:$green;
			border:none;
			padding:10px;
			margin-top:20px;
			font-size:1.5em;
			color:$white;
			border-radius: 4px;

			&:hover {
				background-color:lighten($green, 10%);
			}
		}

		&-error {
			width: 100%;
			text-align: center;
			padding: 5px;
			background-color: $red;
			margin-top: 15px;
			color: $white;
		}
	}

	&-header {
		display:flex;
		flex-flow:row nowrap;
		margin-left:20px;

		&-icon {
			margin-right:15px;
		}
	}

	&.family-form-open {
		flex-basis:554px;
	}

	&.with-error {
		flex-basis:600px;
	}

	&.family-form-open &-header {
		display:none;
	}

	&.family-form-open &-form {
		display:block;
	}

	&:hover {
		color:$dark-grey;
	}

}

.family-template-choice {
	margin-right:15px;
	margin-top:20px;
	width: calc(33% - 15px);
	text-align:center;

	&.is-active &-name {
		background-color:$yellow;
		color:$dark-grey;
	}

	&-sample {
		padding:15px;
		height:200px;
		line-height:85px;
		transition:all .2s ease;
		color:$dark-grey;
		background-color:$lightest-grey;

		img {
			margin-top:45px;
			vertical-align:bottom;
		}
	}

	&:hover &-sample {
		background-color:$yellow;
		color:$dark-grey;
	}

	&-name {
		font-size: 1.3em;
		text-align: center;
		background-color: $dark-grey;
		color: $white;
		padding: 10px;
		transition:all .2s ease;
	}
}
