@import '../variables';

.font-infos {

	&-selectors {
		padding:0;
		margin:0;
		list-style: none;
		color:$white;
		font-size:34px;
		border-right:solid 1px $medium-grey;
		border-left:solid 1px $medium-grey;
	}

	&-title {
		color:$white;
		font-size:30px;
	}
}

.font-selector {
	cursor:pointer;
	padding:10px 20px;
	border-bottom:solid 1px $medium-grey;

	&.is-selected {
		background-color:$medium-grey;
	}

	&:first-of-type {
		border-top:solid 1px $medium-grey;
	}

	&:hover {
		background-color:$medium-grey;
	}

	&-name {
		line-height:51px;
		display:inline-block;
	}
}
