@import "../variables";

.glyph-tag-list {
	flex:1 0 auto;
	margin:0;
	padding:0;


	&-selected {
		padding:10px 0 10px 10px;
		cursor:pointer;

		&-icon {
			width: 10px;
			height: 10px;
			float: right;
			padding: .7em 1.1em;

			background-color: $medium-grey;
			-webkit-mask:  url('./images/list-icon.svg') no-repeat center;
			mask: url('./images/list-icon.svg') no-repeat center;
		}

		&:hover {
			background-color:$green;
			color: $white;
			border-top-color: $green;
		}

		&:hover &-icon {
			background-color: $white;
		}
	}

	&-dropdown {
		position:absolute;
		width:100%;
		z-index:4;
		list-style-type:none;
		margin:0;
		padding:0;
		display:none;
		background-color:$dark-grey;
	}

	&.is-active &-selected {
		&-icon {
			-webkit-mask:  url('./images/close-icon.svg') no-repeat center;
			mask: url('./images/close-icon.svg') no-repeat center;
		}
	}

	&.is-active &-dropdown {
		display:block;
	}

}

.glyph-tag {
	display:flex;
	justify-content:space-between;
	border-top:solid 1px lighten($dark-grey, 4%);
	line-height:12px;
	cursor:pointer;

	&:hover {
		background-color:$green;
		color: $white;
	}

	&.is-active {
		background-color: $white;
		color: $dark-grey;
		.glyph-tag-name {
			&:before {
				content: "→";
			}
		}
	}

	&-name {
		padding:10px;
		text-transform: capitalize;
		&:before {
			content: "⇢";
			display: inline-block;
			margin-right: .5em;
		}
	}

	&-button {
		align-self:stretch;
		width:30px;
		background-color: darken($dark-grey, 2%);

		&-icon {
			align-self:stretch;
			width:30px;
			height:30px;

			background-color: $medium-grey;
			-webkit-mask:  url('./images/pin.svg') no-repeat center;
			mask: url('./images/pin.svg') no-repeat center;
		}

		&:hover {
			background-color: $white;
		}

		&.is-pinned &-icon {
			background-color: $white;
			&:hover {
				background-color: $medium-grey;
			}
		}

	}
}

.glyph-list {
	background-color: $dark-grey;
	color: $medium-grey;
	border-top: lighten($dark-grey, 3%) 1px solid;

	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;

	&-glyphs {
		width:100%;
		height:100%;
	}

	&-glyph {
		box-sizing:content-box;
		float:left;
		height:49px;
		width:49px;
		background-color:lighten($dark-grey, 2%);
		border-bottom:solid 1px $dark-grey;
		border-left:solid 1px $dark-grey;
		text-align: center;
		cursor:pointer;
		transition:background-color .2s ease, color .2s ease;
		position:relative;

		&.is-commented {
			background-color:lighten($green, 10%);
			color:$black;
		}

		&.is-read {
			background-color:$light-grey;
			color:$black;
		}

		.alternate-glyph-list {
			display:none;
			position:absolute;
			bottom:48px;

			.glyph-list-glyph {
				border:none;
			}
		}

		&:hover {
			.alternate-glyph-list {
				display: block;
			}
		}

		&:hover, &.is-selected {
			background-color:$green;
			color:$white;
		}

		&-right-indicator, &-left-indicator {
			height: 5px;
			position: absolute;
			bottom: 0px;
			width: 25px;
		}

		&-right-indicator {
			left: 0px;
		}

		&-left-indicator {
			left: 25px;
		}

		&.is-manually-modified &-right-indicator, &.is-manually-modified &-left-indicator {
			background-color:$red;
		}

		&.is-parametrized &-right-indicator, &.is-parametrized &-left-indicator {
			background-color:$blue;
		}

		&.is-manually-modified.is-parametrized &-right-indicator {
			background-color: $red;
		}

		&:before {
			display: inline-block;
			content:"";
			height:100%;
			line-height: 100%;
			vertical-align: middle;
		}

	}
}
