@import '../variables';

// width of the grip, larger than the grip itself
$handlegripWidth: 10px;
$scaleWidth: 10px;
$handlegripOffset: $handlegripWidth/2;
$scaleOffset: $scaleWidth/2;
$spacingNumberOffset: 15px;

.letter-wrap {
	position: relative;
}
.handlegrip {
	cursor: ew-resize;
	height: 80%;
	position: absolute;
	top: 10%;
	width: $handlegripWidth;
	z-index: 10;

	&-border {
		background-color: $green;
		display: block;
		height: 100%;
		margin: 0 auto;
		width: 1px;
	}

	&-scale-left, &-scale-right {
		background-color: $green;
		bottom: 20%;
		height: 1px;
		position: absolute;
		width: $scaleWidth;
	}
	&-scale-left {
		left: -$scaleOffset;
	}
	&-scale-right {
		right: -$scaleOffset;
	}
}
.handlegrip-left {
	left: -$handlegripOffset;

	& .handlegrip-spacing-number {
		left: -$spacingNumberOffset;
	}
}
.handlegrip-right {
	right: -$handlegripOffset;

	& .handlegrip-spacing-number {
		right: -$spacingNumberOffset;
	}
}
.handlegrip-spacing-number {
	bottom: 0;
	color: $medium-grey;
	font-size: 0.11em;
	position: absolute;
}
.letter-wrap-wrap {
	position: relative;
	z-index: 0;

	& .handlegrip-spacing-number {
		text-align: center;
		left: 0;
		width: 100%;
	}
}
