@import '../variables';

.__slackin {
	z-index: 10;
}

.help-panel {

	height: 100%;

	&-button {
		background: darken($blue, 15%);
		color:$white;
		padding: 15px;
		border-radius: 3px;
		display:inline-block;
		margin-right:20px;
		cursor:pointer;

		&:hover {
			background: darken($blue, 20%);
		}

		&-intercom {
			background:$yellow;
			color:$dark-grey;

			&:hover {
				background:darken($yellow, 15%);
			}
		}

	}

	&-header {
		background-color: $blue;
		color: $white;
		padding: 1.7em 2em;
		min-height: 73px;
		p {
			margin: 0px;
			font-size: 1.2em;
			margin-bottom: 2em;
			a {
				background-color: $white;
				color: $blue;
				border-radius: 3px;
				padding: 0 .4em;
				margin: 0 .1em;
				border: 2px solid $white;
				&:hover {
					background-color: $blue;
					color: $white;
				}
			}
		}

		&-slack,
		&-uservoice {

			float: left;
			display: inline-block;
		}
		&-uservoice {
			position: relative;
			margin-left: 1em;
			// Sync with slack css btn
			padding: 3px 10px 3px 28px;
		    font-size: 16px;
		    line-height: 22px;
		    border-radius: 4px;
			background-color: #eee;
			background-image: linear-gradient(#fcfcfc, #eee);
			background-repeat: no-repeat;
			border: 1px solid #d5d5d5;
			color: #333;
			text-decoration: none;
			text-shadow: 0 1px 0 #fff;
			white-space: nowrap;
			cursor: pointer;
			transition: background-color 200ms;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			&:hover {
				background: #ddd;
			}
			// end sync
			&:before {
				content: "";
				position: absolute;
				left: 2px;
				background-image: url('./images/uservoice.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 90%;
				width: 22px;
				height: 22px;
				margin-right: 5px;
				display: inline-block;
			}
		}
	}


}
