@import "../variables";

.individualize-button {
	display:flex;
	flex-flow: row nowrap;

	&-switch {
		position:relative;
		z-index: -1;
		padding: 2px;
		width: 40px;
		height: 14px;
		border-radius: 10px;
		background-color: $white;
		margin: 0 10px;

		cursor: pointer;
		&-toggle {
			display: block;
			position: absolute;
			top: 2px;
			left: 2px;
			width: 60%;
			height: 10px;
			border-radius: 10px;
			background-color: $yellow;
			background-repeat: no-repeat;
			background-position: center;
			transition: left 200ms ease;
		}

		&.is-active {
			.individualize-button-switch-toggle {
				left: calc(40% - 2px);
			}
		}
	}


	&-label {
		float: right;
		margin: -2px 0px;
		z-index: -2;
		padding: 0 5px;
		font-size: 14px;
		font-weight:400;
		text-transform:none;
	}

}
