@import "../variables";

.individualize-button {
	position: absolute;
	left: -207px;
	bottom: 25px;
	z-index: -1;

	padding: 2px;
	width: 80px;
	height: 22px;
	border-radius: 10px;
	background-color: $white;
	border: 2px solid $dark-grey;

	cursor: pointer;

	&-toggle {
		display: block;
		position: absolute;
		top: 2px;
		left: 2px;
		width: 40%;
		height: 14px;
		border-radius: 10px;
		background-color: $dark-grey;
		background-image: url('./images/link-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
		transition: left 200ms ease;
	}

	&-label {
		float: right;
		margin: -2px 0px;
		z-index: -2;
		padding: 0 5px;
		font-size: 12px;

		&::after {
			content: "Indiv."
		}
	}

	&.is-active,
	&:hover {
		.individualize-button-toggle {
			background-color: $yellow;
			background-image: url('./images/link-icon-hover.svg');
		}
	}

	&.is-active {
		border-color: $yellow;
		.individualize-button-toggle {
			left: calc(60% - 2px);
		}
		.individualize-button-label{
			float: left;
			&::after {
				content: "Back"
			}
		}
	}
}
