@import '../variables';
.library-app {
    .library-main {
        display: flex;
        flex-direction: row;
        align-items: stretch; 
        .library-sidebar-left {
            background: $dark-grey;
            color: #eee;
            width: 250px;
            min-height: 100vh;
            padding: 25px;
        }
        .library-sidebar-right {
            background: #F4F4F4;
            color: $dark-grey;         
            min-height: 100vh;            
            width: 250px;
            padding: 25px;        
        }
        .library-list {
            flex-grow: 1; 
            background: white;
            color: $dark-grey;
            height: 100vh;

            .library-item {
                margin-bottom: 15px;
                position: relative;

                .library-item-name {
                    text-transform: uppercase;
                    color: $medium-grey;
                    margin: 0;
                }
    
                .library-item-preview {
                    font-size: 69px;
                    margin: 0;
                }

                .provider {
                    width:50px;
                    height:50px;
                    border: 2px solid $lightest-grey;                                        
                    position:absolute;
                    top: 50%;
                    right: 5%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-repeat: no-repeat;                    
                    z-index:2;                    
                    background-position: center;
                    &.provider-prototypo {
                        background-color: $black;   
                        background-size: 45%;
                        background-image: url("../../images/prototypo-icon-white.svg");                        
                    }
            
                    &.provider-google {
                        background-color: $white;
                        background-position: center;
                        background-size: 65%;
                        background-image: url("../../images/icon-google.svg");
                    }
            
                    &.provider-production {                        
                        background-color: $white;
                        background-size: 85%;
                        background-image: url("../../images/icon-ProductionType.svg");
                    }
                    &.provider-custom {                        
                       text-align: center;
                       line-height: 46px;
                       text-transform: uppercase;
                       font-weight: bold;
                       color: white;
                       font-size: 16px;
                    }
                }
            }
        }
        .sidebar-filters {
            .sidebar-filter {
                margin-bottom: 20px;
                .sidebar-filter-title {
                    display: block;
                    font-size:  14px;
                    text-transform: uppercase;
                    color: $dark-grey;
                    width: 100%;
                    font-weight: bold;
                }
                .sidebar-filter-elems {
                    display: block;
                    &:after {
                        content: "";
                        display: table;
                        clear: both;
                    }
                    .sidebar-filter-elem {
                        font-size: 14px;
                        padding: 5px 20px;
                        border: 1px solid $dark-grey;
                        background-color:  transparent;
                        transition: color .3s ease, background-color .3s ease;
                        float: left;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        border-radius: 30px;
                        cursor: pointer;
                        &.active {
                            color: white;
                            background-color: $dark-grey;
                        }
                    }
                }
            }
        }
    }
}