@import '../variables';
.library-app {
    .library-main {
        display: flex;
        flex-direction: row;
        align-items: stretch; 
        .library-sidebar-left {
            background: #262A36;
            color: #eee;
            width: 250px;
            min-height: 100vh;
            padding: 25px;
        }
        .library-sidebar-right {
            background: #F4F4F4;
            color: #262A36;         
            min-height: 100vh;            
            width: 250px;
            padding: 25px;         
        }
        .library-list {
            flex-grow: 2; 
            background: white;
            color: #262A36;
            height: 100vh;

            .library-item {
                margin-bottom: 15px;
                position: relative;

                .library-item-name {
                    text-transform: uppercase;
                    color: $medium-grey;
                    margin: 0;
                }
    
                .library-item-preview {
                    font-size: 69px;
                    margin: 0;
                }

                .provider {
                    width:50px;
                    height:50px;
                    border: 2px solid $lightest-grey;                                        
                    position:absolute;
                    top: 50%;
                    right: 5%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-repeat: no-repeat;                    
                    z-index:2;                    
                    background-position: center;
                    &.provider-prototypo {
                        background-color: $black;   
                        background-size: 45%;
                        background-image: url("../../images/prototypo-icon-white.svg");                        
                    }
            
                    &.provider-google {
                        background-color: $white;
                        background-position: center;
                        background-size: 65%;
                        background-image: url("../../images/icon-google.svg");
                    }
            
                    &.provider-production {                        
                        background-color: $white;
                        background-size: 85%;
                        background-image: url("../../images/icon-ProductionType.svg");
                    }
                }
            }
        }
    }
}