@import "../variables";

.onboarding-app {
	height: 100%;
	width: 100%;
	background-color: $green;
	overflow: auto;
	padding-top: 80px;

	.onboarding-wrapper {
		width: calc(100% - 160px);
		position: relative;
		margin: 0 auto 50px;
		background-color: $white;
		padding: 40px;
        border-radius: 8px;
		display:flex; /* 2 */
		flex-direction:column; /* 3 */

		.onboarding-content {
			flex-grow:1;

			h3 {
				color: $dark-grey;
				font-size: 32px;
				&.step-title-finish {
					font-size: 68px;
					font-weight: normal;
				}
			}

			.description {
				max-width: 750px;
				font-size: 16px;
				color: $medium-grey;
			}

		}


        .backToApp {
			padding: 6px 12px;
			font-size: 12px;
			float: right;
			border-radius: 22px;
		}

        .nextStep {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
			display: block;
			border-radius: 22px;
			font-size: 16px;
			padding: 10px 30px;
        }
		.step {
			.text {
				text-align: center;
				font-size: 85px;
				margin: 0;
                color: $light-grey;
                transition: color .3s ease;

				.highlighted {
					color: $dark-grey;
				}
				padding: 0.4em 0;
			}
			&.step-serifs-wrapper .text {
				font-size: 175px;
				color: $dark-grey;
				p{
					margin-top: 0;
				}
			}
			&.step-serifs-wrapper .text-right {
				font-size: 28px;
				float: right;
				color: $dark-grey;
				p {
					 margin-bottom: 0;
				}
			}
			.step-sliders {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;
				align-items: flex-start;
				align-content: center;
				.onboarding-slider {
					width: 250px;

					label {
						display: block;
					}

					&-controller {
						border: 2px solid $green;
					}
				}
            }
            .alternate-row {
                display: flex;
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;
				align-items: flex-start;
                align-content: center;
				margin-bottom: 1em;
                .alternate-choice {
					border-radius: 10px;
					border: 3px solid $white;
					background-color: $white;
					flex-grow: 1;
					margin: 0 8px;
					padding: 5px 20px;
					font-size: 68px;
					cursor: pointer;

					-webkit-box-shadow:inset 0px 0px 0px 1px $white;
				    -moz-box-shadow:inset 0px 0px 0px 1px $white;
				    box-shadow:inset 0px 0px 0px 1px $white;
					transition: all 200ms ease;

					.text {
						padding: 0;
						color: $light-grey;
						opacity: .3;
						margin: 0;
						p {
							margin: 0;
						}
					}

                    &.selected {
						-webkit-box-shadow:inset 0px 0px 0px 2px $light-green;
					    -moz-box-shadow:inset 0px 0px 0px 2px $light-green;
					    box-shadow:inset 0px 0px 0px 2px $light-green;
						.text {
							opacity: 1;
						}
					}

					&:hover, &:focus {
						outline: none;
						-webkit-box-shadow:inset 0px 0px 0px 2px $green;
					    -moz-box-shadow:inset 0px 0px 0px 2px $green;
					    box-shadow:inset 0px 0px 0px 2px $green;
						transition: all 200ms ease;
					}
                }
			}
			img {
				margin: 0 auto;
    			display: block;
			}
		}
		.bubbles {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items: flex-start;
			align-content: center;
			padding: 20px 0;
			.bubble {
				width: 10px;
				height: 10px;
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
				background-color: transparent;
				border: 2px solid $light-grey;
				border-radius: 50%;

				&.previous {
					background-color: $light-grey;
					border-color: $light-grey;
					cursor: pointer;
				}
				&.active {
					background-color: $green;
					border-color: $green;
					cursor: pointer;
				}
			}
		}
	}
}
