@import '../variables';

.progress-bar {
	width: 100%;
	height: 20px;
	margin-top: -10px;
	background: $white;
	border-radius: 4px;
	overflow: hidden;

	&-progress {
		height:100%;
		background-color:$green;
		transition: width .2s ease;
	}
}
