@import "../variables";

.prototypo-canvas {
	flex:1 1 100%;
	overflow:hidden;
	position:relative;
	// z-index:1;
	align-self:stretch;
	display:flex;
	flex-direction:row;
	justify-content: center;

	&-container {
		width:100%;
		overflow:hidden;
		display:inline-flex;
		align-self:stretch;
		background-color:$white;

		&-canvas {
			height:100%;
			width:100%;
		}
	}

	&:active {
		cursor: move;
	}
}

.prototypo-panel-buttons-list {
	position:absolute;
	top:40px;
	right:10px;
	z-index:5;
	&-button {
		background-color:$green;
		padding:10px;
		margin-top:10px;
	}
}

.canvas-menu {
	position: absolute;
	bottom: 18px;
	left: 20px;
	display: flex;
	flex-flow: row nowrap;

	&-item {
		display: row nowrap;
		align-self: flex-end;
		margin-right: 20px;
		border-radius:4px;
	}
}
