@import "../variables";

.prototypo-canvas {
	height:100%;
	width:100%;
	position:relative;
	z-index:1;
	flex:1;
	border-right:solid 1px $light-grey;

	&-container {
		height:100%;
		width:100%;
		overflow:hidden;
	}

}

.prototypo-panel-buttons-list {
	position:absolute;
	top:40px;
	right:10px;
	z-index:5;
	&-button {
		background-color:$green;
		padding:10px;
		margin-top:10px;
	}
}

.prototypo-canvas {
	// width: 100%;
}
