@import '../variables';

.prototypo-word {
	height:100%;
	position:absolute;
	width:100%;

	&-string {
		font-size: 17rem;
		font-weight: normal;
		padding: 10px;
		text-align: center;
		outline: none;
		width:100%;
		height:100%;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	&-scrollbar-wrapper {
		height: calc(100% - 28px);
		position:relative;
	}
}

// this belongs to its own component
// unfortunately this is impossible because of contentEditable nature of the div
// see prototypo-word.component.jsx
$handlegripWidth: 10px;
$handlegripOffset: $handlegripWidth/2;
.letter-wrap {
	position: relative;
}
.handlegrip {
	&-left, &-right {
		cursor: pointer;
		height: 80%;
		position: absolute;
		top: 10%;
		width: $handlegripWidth;
	}

	&-border {
		background-color: $green;
		display: block;
		height: 100%;
		margin: 0 auto;
		width: 1px;
	}
}
.handlegrip-left {
	left: -$handlegripOffset;
}
.handlegrip-right {
	right: -$handlegripOffset;
}
