.prototypo-text {
	flex:1;
	max-height: 100%;
	overflow-y:auto;
	position:relative;

	&-string {
		height:100%;
		width:100%;
		font-size: 17rem;
		padding: 0.8em;
		outline:none;
		word-break:break-all;
	}
}
