.prototypo-text {
	flex:1 1 100%;
	position:relative;

	&-string {
		height:100%;
		width:100%;
		font-size: 17rem;
		font-weight: normal;
		padding: 0.8em;
		outline:none;
		word-break:break-all;
	}

	.gm-scrollbar-container {
		position: absolute;
	}
}
