@import "../variables";

.side-tabs {
	&-headers {
		width:70px;
		float:left;
	}

	&-icon-headers {
		height:72px;
		padding-top:19px;
		padding-left:22px;
		background-color: $white;
	}

	&-icon {
		height:73px;
		padding-left:20px;
		padding-top:22px;
		cursor:pointer;

		&.is-active, &:hover {
			//TODO(franz): integrate in themified css
			background-color: #4a4a4a;
		}
	}
}

.side-tab {
	margin-left: 70px;
	background-color:#4a4a4a;
	height:100%;
	display:none;
	transition:width .2s ease;
	box-shadow: 4px 0px 6px #aaa;
	position:relative;
	z-index:2;

	&.is-active {
		display:block;
	}

	&-big {
		width:800px;
		z-index:5;
		box-shadow: none;
	}
}
