@import "../variables";

.slider {
	margin-bottom:15px;
	font-size: 0.8em;
	position:relative;

	&.is-disabled &-demo-overlay {
		position:absolute;
		top: 2px;
		left:-10px;
		width: calc(100% + 20px);
		height:100%;
		background-color: rgba($dark-grey, 0.65);
		z-index:2;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	&-container {
		display: flex;
		flex-flow: row nowrap;
	}

	&-demo-overlay {
		position: absolute;
		width: 100%;

		&-text {
			color:$white;
			font-size: 13px;
			padding: 5px 15px;

			&-more {
				top: 0;
				bottom: 0;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				width: 40px;
				@include themify() {
					background-color: $theme-background;
				}
				background-image: url('../../images/add-feature.svg');
				background-position: center;
				background-repeat: no-repeat;

				transition: all 500ms ease;

				&-text {
					opacity: 0;
					flex-direction: column;
					padding-left: 60px;
					transition: all 200ms ease;
					transition-delay: 200ms;
				}

				&:hover {
					width: 270px;
					background-image: url('../../images/pro-version.svg');
					background-position: 10% center;
				}

				&:hover &-text {
					opacity: 1;
					padding-left: 10px;
				}
			}
		}
	}


	&-title {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding-left: 0.8em;
		display: inline-block;
		pointer-events: none;
	}

	&-reset {
		opacity: 0;
		margin-left: 0.8rem;
		display: inline-block;
		cursor: pointer;
		color: $medium-grey;
		transition: opacity 500ms ease;
	}

	&:hover &-reset {
		opacity: 1;
	}

	&-text-controller {
		float: right;
		width: 4rem;
		font-size: inherit;
		text-align: right;
		background: none;
		border: 0;
		border-radius: 0;
		color: $medium-grey;

		// we'll use textfield appearance until we've figured out sth better
		-moz-appearance: textfield;
		-webkit-appearance: textfield;

		&.is-indiv {
			//Do not put more than 43px without checking that it make serif terminal curve go crazy
			margin-right:43px;
		}
	}

	&-controller {
		overflow: hidden;
		background-color: #FFF;
		margin-top: 2px;
		flex:1;
		/* fix a overflow hidden and border-radius error in chrome */
		-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

		&, &-bg, &-handle {
			border-radius: 1rem;
			cursor: pointer;
		}

		&-bg {
			height: 1.9rem;
			@include themify() {
				background-color: $theme-background;
			}

			&.is-not-advised {
				background-color:$red;
			}
		}

		&-bg.is-indiv &-handle {
			border-color:$yellow;
		}

		&-bg.is-not-advised &-handle {
			border-color:$red;
		}

		&-handle {
			float: right;
			width: 1.9rem;
			height: 1.9rem;
			@include themify() {
				border:solid 0.5rem $theme-background;
			}
			background-color: #555555;
		}
	}


	&.is-coming {
		.slider-demo-overlay {
			background-color: rgba($dark-grey, 0.45);
			z-index:1;
			&-text {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				padding: 10px;
				cursor: default;
			}
		}
	}

	&.is-child {
		width: 90%;
		margin-top:-1rem;
		margin-left:10%;
		position: relative;
		.slider-title {
			color: $medium-grey;
		}
		.slider-controller {
			&:before {
				content: "";
				position: absolute;
				border-bottom: 1px solid lighten($dark-grey, 8%);
				border-left: 1px solid lighten($dark-grey, 8%);
				width: 20px;
				height: 50px;
				top: -23px;
				left: -15px;
				z-index: -1;
			}
		}
		.slider-demo-overlay {
			top: 5px;
			width: 270px;
			left: -35px;
			&-text {
				padding: 2px 15px;
			}
		}
	}

}

.sliders {
	color: $white;
	padding:1rem;
}

.indiv-switch {
	flex: 0 0 45px;
	height: 19px;
	position: relative;
	margin-left: 5px;
	margin-top: 2px;
	cursor:pointer;
	display: flex;
	justify-content: space-between;

	&-btn {
		line-height: 17px;
		height: 19px;
		width: 19px;
		text-align: center;
		border-radius: 50%;
		transition: all .2s ease;
		z-index:1;

		&:hover {
			background: $yellow;
		}

		&.is-active {
			background: $yellow;
		}
	}

	&-relative {
		background: $white;
		color:$dark-grey;
		line-height: 19px;
	}

	&-delta {
		background: $white;
		color:$dark-grey;
	}
}
