@import "../variables";

.slider {
	margin-bottom:15px;
	font-size: 0.8em;
	position:relative;

	&.is-disabled &-demo-overlay {
		position:absolute;
		top: 2px;
		left:-10px;
		width: calc(100% + 20px);
		height:100%;
		background-color: rgba($dark-grey, 0.65);
		z-index:2;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	&-demo-overlay {
		&-text {
			opacity:0;
			color:$white;
			font-size: 13px;
			transition:opacity .2s ease;
			padding: 5px 15px;
			position: relative;

			&-more {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				width: 40px;
				background-color: $green;
				background-image: url('./images/add-feature.svg');
				background-position: center;
				background-repeat: no-repeat;

				transition: all 500ms ease;

				&-text {
					opacity: 0;
					flex-direction: column;
					padding-left: 60px;
					transition: all 200ms ease;
					transition-delay: 200ms;
				}

				&:hover {
					width: 270px;
					background-image: url('./images/pro-version.svg');
					background-position: 10% center;
				}

				&:hover &-text {
					opacity: 1;
					padding-left: 10px;
				}
			}
		}

		&:hover &-text {
			background-color: darken($dark-grey, 2%);
			opacity:1;
		}
	}


	&-title {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding-left: 0.8em;
		display: inline-block;
		pointer-events: none;
	}

	&-reset {
		opacity: 0;
		margin-left: 0.8rem;
		display: inline-block;
		cursor: pointer;
		color: $medium-grey;
		transition: opacity 500ms ease;
	}

	&:hover &-reset {
		opacity: 1;
	}

	&-text-controller {
		float: right;
		width: 4rem;
		font-size: inherit;
		text-align: right;
		background: none;
		border: 0;
		border-radius: 0;
		color: $medium-grey;

		&:focus { color: white; }

		// not very UX friendly but it's a fix until we discover what happens in FF
		// (multiple inputs are focused)
		&::selection {
			background-color: transparent;
		}

		// we'll use textfield appearance until we've figured out sth better
		-moz-appearance: textfield;
		-webkit-appearance: textfield;

		&:invalid,
		&:required,
		&:-moz-placeholder {
			box-shadow:none !important;
		}
	}

	&-controller {
		overflow: hidden;
		background-color: #FFF;
		margin-top: 2px;

		&, &-bg, &-handle {
			border-radius: 1rem;
			cursor: pointer;
		}

		&-bg {
			height: 1.9rem;
			background-color: $green;
			transition: background-color 500ms ease;

			&.is-not-advised {
				background-color:$red;
			}
		}

		&-bg.is-not-advised &-handle {
			border-color:$red;
		}

		&-handle {
			float: right;
			width: 1.9rem;
			height: 1.9rem;
			border: 0.5rem solid $green;
			background-color: #555555;
			transition: border-color 500ms ease;
		}
	}


	&.is-coming {
		.slider-demo-overlay {
			background-color: rgba($dark-grey, 0.85);
			&-text {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				padding: 10px;
				cursor: default;
			}
		}
	}

	&.is-child {
		width: 90%;
		margin-top:-1rem;
		margin-left:10%;
		position: relative;
		.slider-title {
			color: $medium-grey;
		}
		.slider-controller {
			&:before {
				content: "";
				position: absolute;
				border-bottom: 1px solid lighten($dark-grey, 8%);
				border-left: 1px solid lighten($dark-grey, 8%);
				width: 20px;
				height: 50px;
				top: -23px;
				left: -15px;
				z-index: -1;
			}
		}
		.slider-demo-overlay {
			top: 5px;
			width: 270px;
			left: -35px;
			&-text {
				padding: 2px 15px;
			}
		}
	}

}

.sliders {
	color: $white;
	padding:1rem;
}
