@import "../variables";

.undo-redo-menu {
	display:flex;
	flex-flow:row nowrap;

	&-undo-btn, &-redo-btn {
		height:35px;
		width:35px;
		padding:9px;
		cursor:pointer;

		&.is-disabled {
			background-color: darken($dark-grey, 4%);
			&:hover {
				background-color:darken($dark-grey, 4%);
			}
		}

		&:hover {
			background-color: lighten($dark-grey,4%);
		}
	}
}
