@import "../variables";

.variant-list {
	flex:1 0 30%;
	padding:0px !important;
	position:relative;
	overflow: hidden;

	&-download-overlay {
		position:relative;
		overflow: hidden;

		&-message {
			position:absolute;
			width:200%;
			height: calc(100% - 10px);
			border-radius: 7px;
			cursor: pointer;
			display:block;

			&-half {
				position: relative;
				width: 50%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				float: left;
				border-radius: 7px;
				transition: left .2s ease;
				left:0;
				color: $white;
			}

			&-start {
				background: rgba($dark-grey, 0.3);
			}

			&-end {
				background: $green;
			}

			&:hover &-start, &:hover &-end {
				left: -50%;
			}
		}

	}

	&-container {
		background-color: $white;
		position: relative;
		padding:10px 40px 40px 40px;
		min-height:100%;

		&#{&}-enter {
			margin-left: -100%;
			z-index:2;
			width:100%;
			border-right: solid 1px $light-grey;

			&-active {
				margin-left: 0%;
				transition: margin-left .3s ease-out;
			}
		}

		&#{&}-leave {
			position:absolute;
			width:100%;
			top:0;
			box-shadow: 0px 0px 0px 1px $light-grey inset;

			&-active {
				transition: box-shadow .3s ease-out;
				box-shadow: 0px 0px 7px 1px $light-grey inset;
			}
		}
	}

	&-title {
		color: $medium-grey;
		border-bottom: solid 1px $medium-grey;
		padding-bottom: 10px;
		margin-bottom: 20px;
		margin-top:30px;
	}

	&-name {
		margin-top: 7px;
		color: $medium-grey;
		cursor:pointer;

		&:hover, &.is-active {
			color: $green;
		}
	}
}

.variant-info {
	flex: 1 0 37%;
	border-right: none !important;
	padding:0px !important;
	overflow:hidden;

	&-container {
		background-color: $white;
		padding:10px 160px 40px 40px;
		position:relative;
		min-height: 100%;
		border-bottom-right-radius: 7px;

		&#{&}-enter {
			margin-left: -100%;
			z-index:2;
			width:100%;
			border-right: solid 1px $light-grey;

			&-active {
				margin-left: 0%;
				transition: margin-left .3s ease-out;
			}
		}

		&#{&}-leave {
			position:absolute;
			width:100%;
			top:0;
			box-shadow: 0px 0px 0px 1px $light-grey inset;

			&-active {
				transition: box-shadow .3s ease-in;
				box-shadow: 0px 0px 7px 1px $light-grey inset;
			}
		}
	}
}

.variant {
	width:700px;
	display:flex;
	flex-flow: column nowrap;
}
