@import '../variables';

.zoom-button {
	border: 2px solid lighten($light-grey, 10%);
	background-color: $white;
	color: $light-grey;
	margin-top: 20px;
	width: 24px;
	height: 24px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	margin-left: -2px;

	&:hover {
		@include themify() {
			background-color: $theme-background;
			border-color: $theme-background;
			color: $theme-color;
		}
	}
}

.zoom-button + .zoom-button {
	margin-top: -2px;
	line-height: 18px;
}
