@import '../../variables';

.button {
	@include themify() {
		border: solid 2px $theme-background;
		color: $theme-background;
	}

	padding:6px 0;
	display:flex;
	justify-content: center;
	border-radius: 7px;
	font-size: 14px;
	font-weight: 400;
	cursor:pointer;
	transition: color .2s ease, background-color .2s ease;
	margin-bottom:10px;
	font-style: normal;

	&.is-disable {
		border-color: rgba($green, 0.4);
		color: rgba($green, 0.4);
	}

	&.danger {
		border-color: $red;
		color: $red;

		&:hover {
			@include themify() {
				background-color: $red;
			}
		}
	}

	&.neutral {
		border-color: $medium-grey;
		color: $medium-grey;
		background: $white;

		&:hover {
			@include themify() {
				background-color: $medium-grey;
				color: $white
			}
		}
	}

	&.dark {
		border-color: $dark-grey;
		color: $dark-grey;
		background: $white;

		&:hover {
			@include themify() {
				background-color: $dark-grey;
				color: $white
			}
		}
	}

	&:hover {
		@include themify() {
			background-color: $theme-background;
			color: $theme-color;
		}
	}
}
