@import '../../variables';

.button-container {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
}

.button {
	@include themify() {
		border: solid 2px $theme-background;
		color: $theme-background;
	}

	padding:6px 0;
	display:flex;
	justify-content: center;
	border-radius: 7px;
	font-size: 14px;
	font-weight: 400;
	cursor:pointer;
	transition: color .2s ease, background-color .2s ease, width .2s ease, border-radius .2s ease, border-color 500ms ease !important;
	margin-bottom:10px;
	font-style: normal;
	width: 100%;

	&.is-disable {
		border-color: rgba($green, 0.4);
		color: rgba($green, 0.4);
	}

	&.danger {
		border-color: $red;
		color: $red;

		&:hover {
			@include themify() {
				background-color: $red;
			}
		}
	}

	&.neutral {
		border-color: $medium-grey;
		color: $medium-grey;
		background: $white;

		&:hover {
			@include themify() {
				background-color: $medium-grey;
				color: $white
			}
		}
	}

	&.dark {
		border-color: $dark-grey;
		color: $dark-grey;
		background: $white;

		&:hover {
			@include themify() {
				background-color: $dark-grey;
				color: $white
			}
		}
	}

	&.split-left {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: calc(50% - 1px);
	}

	&.split-right {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: calc(50% - 1px);
	}

	&#{&}-enter {
		width:0;

		&-active {
			width:calc(50% - 1px);
		}
	}

	&#{&}-leave {
		width:calc(50% - 1px);

		&-active {
			width:0;
		}
	}

	&:hover {
		@include themify() {
			background-color: $theme-background;
			color: $theme-color;
		}
	}
}
