@import '../../variables';

.loading-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: $green;
	background-image: linear-gradient(135deg, $green 0%, saturate($green, 5%) 70%);
	opacity: 0.9;
	color: $white;
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	left: 0;
	transition: left .2s ease-in;

	img {
		clear: both;
		display: block;
	}

	& .prototypo-loading {
		background: url('../../../images/prototypo-loading.svg') no-repeat center;
		height: 50px;
		width: 50px;
	}
}

.loading-overlay-enter {
	left: -100%;
}

.loading-overlay-exit {
	left:100%;
}
