@import "../../variables";

.modal {
	position:absolute;
	z-index:12;
	background-color: rgba($green, 0.6);
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;

	&-appear {
		transform:scaleX(0.3) scaleY(0.3);
		opacity:0;

		&#{&}-active {
			opacity: 1;
			transform:scaleX(1) scaleY(1);
			transition: opacity .2s ease-out, transform .2s ease-out;
		}
	}

	&-container {
		background-color: $white;
		border-radius: 7px;
		min-width: 500px;
		max-width: 800px;
		box-shadow: 5px 5px 6px 1px rgba(0, 0 ,0, 0.2);
		padding: 40px;

		&-title {
			font-size:17px;
			text-transform: uppercase;
			color: $green;
		}
	}
}
