@import "../../variables";

.pricing {
	display: flex;
	margin-top:20px;

	&-switch {
		display: flex;
		justify-content:center;

		&-item {
			margin-right: 16px;
			margin-left: -7px;
			font-size: 17px;
			padding: 10px 20px;
			border-radius: 5px;
			font-weight: 100;
			cursor: pointer;
			background: $white;
			color: $green;
			border: 1px solid $green;
			transition: background 0.3s ease, color 0.3s ease;

			&:last-of-type {
				margin-right: 0;
				margin-left: 0;
			}

			&.is-active, &:hover {
				background-color: $green;
				color: $white;
			}
		}
	}

	&-item {
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		margin-right: 15px;
		height:100%;
		cursor:pointer;
		border: 3px solid $light-grey;
		background-color: $lightest-grey;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.02);
		}

		&:last-of-type {
			margin-right: 0;
		}

		&-title {
			background-color: #fefefe;
			color: $green;
			font-size: 20px;
			font-weight: 100;
			font-family: 'Fira Sans', sans-serif;
			text-align: center;
			text-transform: uppercase;
			padding: 10px;
			padding-top: 35px;

			&-more {
				color: $lightest-grey;
				font-size: 16px;
				text-transform: none;
				color: $dark-grey;
			}
		}

		&-subtitle {
			background-color: #fefefe;
			color: $green;
			padding: 10px;
			padding-top: 0;
			text-align: center;
			font-weight: 100;

			&-price {

				&-value {
					font-size: 50px;
					font-family: 'Fira Sans', sans-serif;

					&-small {
						font-size: 30%;
					}

					&-freq {
						font-size:13px;
						margin-left:5px;
					}

					&-currency {
						font-size: 17px;
						position:relative;
						bottom:21px;
						right:3px;
					}
				}

				&-info {
					font-size:18px;
				}

			}
		}

		&-features {
			list-style-type: none;
			margin: 0;
			padding: 0;
			color: $dark-grey;
			text-align: center;
		}

		&-feature {
			padding: 10px 20px;
			border-top: solid 1px $light-grey;
			font-size: 18px;
			font-weight: 100;
			background-color: $lightest-grey;
		}

		&-cta {
			background: $green;
			color: #fefefe;
			text-align: center;
			padding: 5px 10px;
			font-size: 20px;
			font-weight: 100;
			transition: background 0.3s ease;
			&:hover {
				background: lighten($green, 5%);
			}
		}
	}
}
