@import "../../variables";

.toolbar {
	height:35px;
	background:$dark-grey;
	text-transform: uppercase;
	color: $white;
	display:flex;
	flex-flow: row nowrap;
	position:relative;
	z-index:10;
	justify-content: space-between;
	align-items: center;
}
