@import "../../variables";

.view-buttons {
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	height:100%;

	&-label {
		align-items: center;
		border-left: 1px solid $medium-grey;
		display: flex;
		height: 100%;
		padding: 0 25px;
		text-transform: none;
	}
}

.view-button {
	background: $white no-repeat center;
	width:35px;
	height:35px;
	padding:9px;
	cursor:pointer;

	&:hover, &.is-active {
		@include themify() {
			background-color: $theme-background;
		}
	}

	&-glyph {
		&.is-active {
			background-image: url('/assets/images/glyph-hover-active.svg');
		}
		&, &:hover:not(.is-active) {
			background-image: url('/assets/images/glyph-base.svg');
		}
		background-size: 17px;
	}
	&-word {
		&.is-active {
			background-image: url('/assets/images/word-hover-active.svg');
		}
		&, &:hover:not(.is-active) {
			background-image: url('/assets/images/word-base.svg');
		}
		background-size: 17px;
	}
	&-text {
		&.is-active {
			background-image: url('/assets/images/text-hover-active.svg');
		}
		&, &:hover:not(.is-active) {
			background-image: url('/assets/images/text-base.svg');
		}
		background-size: 17px;
	}
}
