@import "../../variables";

.view-buttons {
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	height:100%;

	&-label {
		align-items: center;
		border-left: 1px solid $medium-grey;
		display: flex;
		height: 100%;
		padding: 0 25px;
		text-transform: none;
	}
}

.view-button {
	background: $white;
	width:35px;
	height:35px;
	padding:9px;
	cursor:pointer;

	&:hover, &.is-active {
		@include themify() {
			background: $theme-background;
		}
	}
}
