@import '../variables';

#prototypopanel {
	height:100%;
	padding-top:35px;
	position:relative;
	display:flex;
	flex-direction:column;
	flex: 1;
}

#prototypoword {
	flex:1.33;
	overflow:visible;
	position:relative;
	border-bottom:solid 1px $light-grey;
}

#prototypotextandglyph {
	flex:4;
	display:flex;
	flex-direction:row;
	overflow:hidden;
}
