@import "../variables";

#notloggedin {
	position:relative;
	width:100%;
	height:100%;
	color:$white;
	display:flex;
	justify-content:center;
	align-items:center;

	background: $green;
	background: linear-gradient(135deg, $green 0%,#00e28b 70%);
}

_:-ms-fullscreen, #notloggedin {
	justify-content:flex-start;
}

.sign-base {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	margin-left:20px;
	position:relative;
	background-color:$white;
	border-radius:7px;

	.account-dashboard-page-title {
		padding-bottom: 40px;
	}
}

.sign-in {
	width:500px;
	margin:auto;

	&-sorry-logo {
		width:50px;
		height:50px;
		background-color: $black;
		position:relative;
		background-position: center;
		background-size: 46%;
		background-image: url("../../images/prototypo-icon-white.svg");
		background-repeat: no-repeat;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		transition: background-color .2s ease;
	}

	&-sorry-message {
		color: $dark-grey;
		text-align: center;
	}

	&-sorry-text {
		font-size: 20px;
		padding: 10px;
		color: $dark-grey;
		text-align: center;
	}

	&-container {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	&-oauth {
		padding: 30px 40px 0 40px;

		&-label {
			display: block;
			padding-bottom: 15px;
			color: $medium-grey;
		}

		&-buttons {
			display: flex;

			.oauth-button {
				flex: 1;

				& + .oauth-button {
					margin-left: 5px;
				}
			}
		}
	}

	&-separator {
		position: relative;
		text-align: center;
		color: $medium-grey;
		margin: 30px 40px 0 40px;

		&-text {
			position: absolute;
			top: 0;
			bottom: 0;
			font-size: .8em;
			background: #fff;
			padding: 0 5px;
		}

		&-line {
			height: 1px;
			padding: 0;
			color: $light-grey;
			background-color: $light-grey;
			border: 0;
		}
	}

	&-form {
		display:flex;
		width:100%;
		padding:30px 40px 10px 40px;
		flex-direction:column;

		& .input-with-label {
			flex: auto;
		}
	}

	&-help-needed {
		padding: .5em;
		transition: 400ms ease;
		align-self:flex-end;
		color:$medium-grey;
		font-style:italic;

		&:hover {
			padding: .5em 1em;
			background-color: $white;
			color: $dark-grey;
			color:$medium-grey;
		}
	}

	&-h1 {
		color: white;
	}


}

.sign-up {
	width:550px;
	margin:auto;
}

.forgotten-password {
	margin:auto;
}

@media all and (max-width: 600px) {
	.sign-in {
		width: auto;
	}

	.sign-up {
		width: auto;
	}
}
