.account-home {

	&-resources {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		&-item {
			width: 40%;
			margin: 20px;

			&-box {
				display: block;
				border-radius: 3px;
				box-shadow: 0px 0px 5px 0px #afafaf;
				text-align: center;
				padding: 20px;
				transition: all 200ms;

				&:hover {
					box-shadow: 0px 0px 15px 0px #afafaf;
				}
			}
		}
	}

}
