@import "../../variables";

.academy-app p {
	font-size: 16px;
	line-height: 1.8;
	color: $dark-grey;
}

.academy-title {
}

.academy-header {
	height: 100px;
	width: 100%;
	border-bottom: solid $orange 1px;
	color: $medium-grey;
	padding:20px 50px;
	margin:0;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.academy-back-app {
	border: 2px solid $green;
	color: $green !important;
	font-weight: bold;
	border-radius:7px;
	padding:10px;
	font-size:14px;

	&:hover {
		background-color: $green;
		color:$white !important;
	}
}

.academy-email {
	color: $green;
	font-weight: 600;

	&:hover {
		color: $green;
		text-decoration: underline;
	}
}

.academy-bold {
	font-weight: 600;
}

.academy-sidebar {
	padding:40px;
	flex:0 0 244px;

	&-menu {
		list-style-type: none;

		&-item {
			font-size: 16px;
			cursor: pointer;
			padding:10px 0px 5px;
			display: block;

			&:hover, &.is-active {
				color: $green;
			}
			position:relative;

			&:before {
				content: ' ';
				height:24px;
				width:24px;
				display:block;
				position:absolute;
				top:10px;
				left:-39px;
			}

			&.is-active &-options {
				max-height: 200px;
			}

			&-options {
				margin:0;
				padding:0;
				list-style-type:none;
				transition: max-height .2s ease;
				max-height: 0px;
				overflow: hidden;

				&-item {
					padding:10px 0px 0px;
					color: $medium-grey;

					&:hover, &.is-active {
						color: $dark-grey;
					}
				}
			}
		}

		&-home:before {
			background-image:url('../../../images/icon-home.svg');
		}

		&-home:hover:before, &-home.is-active:before {
			background-image:url('../../../images/icon-home-active.svg');
		}

		&-profile:before {
			background-image:url('../../../images/icon-profile-dashboard.svg');
		}

		&-profile:hover:before, &-profile.is-active:before {
			background-image:url('../../../images/icon-profile-active.svg');
		}

		&-academy:before {
			background-image:url('../../../images/icon-account.svg');
		}

		&-academy:hover:before, &-academy.is-active:before {
			background-image:url('../../../images/icon-account-active.svg');
		}

		&-billing:before {
			background-image:url('../../../images/icon-billing.svg');
		}

		&-billing:hover:before, &-billing.is-active:before {
			background-image:url('../../../images/icon-billing-active.svg');
		}
	}
}

.academy-base {
	width:100%;
	height:100%;
	padding:40px 0;
	font-weight:400;
	display:flex;
	flex-flow: column;
}

.academy-button {
	background-color: $green;
	color: $white !important;
	min-width: 120px;
	display:block;
	font-size: 18px;
	padding: 15px;
	outline: none;
	border:none;
	font-weight:600;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 40px;
	cursor:pointer;
	float: right;
	text-align: center;

	&.inline {
		display:inline-block;
		margin-left: 15px;
		float: inherit;
	}

	&:hover {
		background-color: darken($green, 5%);
	}
}

.academy-app {
	height: 100%;
	width: 100%;
	background-color: $green;
	overflow:auto;
	padding-top:80px;
}

.academy-home {
	.academy-course-list {
		position: relative;
		img {
			max-width: 100%;
		}
		h2 {
			margin: 15px 0 0px 0;
			padding: 15px 10px;
			background-color: $green;
			color: $white;
		  	position: relative;
			display: block;
			font-size: 1.5em;
			font-weight: bold;
			text-transform: capitalize;
			cursor: pointer;
		}
		p:first-child {
			margin-top: 0;
		}
		.academy-validation-button {
			position: absolute;
			top: 130px;
			right: -20px;
			padding: 10px;
			min-width: 90px;
		}
		.academy-part-count {
			position: absolute;
			top: calc(1.5em + 28px);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			left: 0;
			padding: 8px;
			min-width: 65px;
			cursor: default;
			&:hover {
				background-color: $green;
			}
		}
	}
}

.academy-course {
	display:flex;
	flex-direction: row;

	img {
		max-width: 100%;
		border-left: 8px solid $green;
	}

	.title {
		margin: 15px 0 0px 0;
		padding: 15px 10px;
		background-color: $green;
		color: $white;
	  	position: relative;
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		text-transform: capitalize;

		input[type=checkbox] {
	      display: none;
	    }
	    input[type=checkbox] + label span {
	      border: 2px solid $white;
	      font-size: 20pt;
	      display: inline-block;
	      width: 20px;
	      height: 20px;
	      line-height: 0.25em;
	      margin: 4px 1rem 8px 0px;
	      padding: 2px;
	      text-align: center;
	      vertical-align: middle;
	    }
	    input[type=checkbox]:checked + label span::after {
	      content: "\2713";
	    }

		&.fixed {
		    position: fixed;
		    top: -15px;
			width: 750px;
			left: 50%;
			transform: translateX(-50%);
			margin-left: -23px;
			z-index: 2;
	  	}
	}
	.title + p {
		margin-top: 0;
	}
	&-courselist {
		width: 250px;
		height: 100%;
		a {
			display: block;
		}
	}
	&-main{
		display:flex;
		flex-direction: row;
		width: 950px;
		&-content {
			width: 750px;
		}
		&-sidebar {
			width: 200px;
			padding-left: 20px;
			&.fixed {
			    position: fixed;
			    top: 0px;
		  	}
		}
	}
}

.academy-dashboard {
	min-height: 700px;
	width: 1200px;
	background-color: $white;
	border-radius: 8px;
	position:relative;
	margin:0 auto 50px;

	&-container {
		display:flex;
		padding: 0 40px 0 40px;

		&-main {
			padding: 0 40px;
			width: 100%;
		}

		&-small-title {
			font-size: 18px;
			margin: 22px 0 20px;
		}
	}

	&-icon {
		width:70px;
		height:70px;
		background-color: $dark-grey;
		position:absolute;
		z-index:2;
		background-position: center;
		background-size: 46%;
		background-image: url("../../../images/prototypo-icon-white.svg");
		background-repeat: no-repeat;
		border-radius: 50%;
		border: solid $green 10px;
		top: -35px;
		right: -35px;
		transition: 0.8s;
		transform-style: preserve-3d;
		cursor: pointer;

		&:hover {
			transform:rotateY(180deg);
			background-image: url("../../../images/icon-back-hover-reversed.svg");
			background-color:$white;
		}
	}

	&-back-icon {
		background-image: url("../../../images/icon-back.svg");
		background-repeat: no-repeat;
		width:36px;
		height:36px;
		position:absolute;
		border:solid $white 5px;
		border-radius: 50%;
		left:-18px;
		top:30px;
		background-color:$white;
		background-size: 25px 25px;
		background-position:2px 1px;
		cursor:pointer;
		display:block;

		&:hover {
			background-image: url("../../../images/icon-back-hover.svg");
		}
	}
}
