@import "../../variables";

.academy-app p, .academy-app span {
	font-size: 18px;
	line-height: 1.8;
	color: $dark-grey;
}

.academy-title {
}

.academy-header {
	height: 100px;
	width: 100%;
	border-bottom: solid $orange 1px;
	color: $medium-grey;
	padding:20px 50px;
	margin:0;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.academy-back-app {
	border: 2px solid $green;
	color: $green !important;
	font-weight: bold;
	border-radius:7px;
	padding:10px;
	font-size:14px;

	&:hover {
		background-color: $green;
		color:$white !important;
	}
}

.academy-email {
	color: $green;
	font-weight: 600;

	&:hover {
		color: $green;
		text-decoration: underline;
	}
}

.academy-bold {
	font-weight: 600;
}

.academy-sidebar {
	padding:40px;
	flex:0 0 244px;

	&-menu {
		list-style-type: none;

		&-item {
			font-size: 16px;
			cursor: pointer;
			padding:10px 0px 5px;
			display: block;
			span {
				font-size: 16px;
			}

			&:hover {
				color: $green;
				span {
					color: $green;
				}
			}
			&.is-active {
				color: $green;
				font-weight: 600;
				span {
					color: $green;
					font-weight: 600;
				}
			}
			position:relative;

			&-home-icon {
				position: relative;
				display: inline;
				float: left;
				height:20px;
				width:20px;
				margin-left: -5px;
				margin-right: 10px;
				&::before {
					content: ' ';
					height:20px;
					width:20px;
					display:block;
					background-image:url('../../../images/icon-home.svg');
				}
			}

			&:hover &-checkmark.active::after, &.is-active &-checkmark.active::after {
				border-color: $green;
			}
			&.is-active &-checkmark.active::after {
				border-width: 0 3px 3px 0;
			}
			&:hover &-home-icon::before {
				background-image:url('../../../images/icon-home-active.svg');
			}
			&-checkmark {
				margin-right: 5px;
				display: inline-block;
				width: 20px;
				height: 25px;
				margin-bottom: -5px;
				&.active::after, &.is-done::after {
					content: '';
					display: block;
					position: absolute;
					top: 15px;
					left: 2px;
					width: 6px;
					height: 10px;
					border: solid $black;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
				}
				&.is-active::after {
					border-color: $green;
					border-width: 0 3px 3px 0;
				}
			}
		}
	}
}

.academy-base {
	width:100%;
	height:100%;
	padding:40px 0;
	font-weight:400;
	display:flex;
	flex-flow: column;
	font-size: 20px;
}

.academy-button {
	background-color: $green;
	color: $white !important;
	min-width: 120px;
	display:block;
	font-size: 18px;
	padding: 15px;
	outline: none;
	border:none;
	font-weight:600;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 40px;
	cursor:pointer;
	float: right;
	text-align: center;

	&.inline {
		display:inline-block;
		margin-left: 15px;
		float: inherit;
	}

	&:hover {
		background-color: darken($green, 5%);
	}
}

.academy-app {
	height: 100%;
	width: 100%;
	background-color: $green;
	overflow:auto;
	padding-top:80px;
}

.academy-home {
	.centered {
		text-align: center;
	}

	.academy-course-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 16px;

		&-elem {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: calc(33% - 30px);
			background: $lightest-grey;
			padding: 15px;
			margin-bottom: 40px;
			&:hover {
				//box-shadow: 0 1px 3px rgba(36,211,144,0.12), 0 1px 2px rgba(36,211,144,0.24);
				box-shadow: 0 3px 6px rgba(36,211,144,0.16), 0 3px 6px rgba(36,211,144,0.23);
				transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			}
			&.done {
				background: $lightest-green;
			}
			&.currentlyreading {
				//box-shadow: 0 3px 6px rgba(36,211,144,0.16), 0 3px 6px rgba(36,211,144,0.23);
				box-shadow: 0 10px 20px rgba(36,211,144,0.19), 0 6px 6px rgba(36,211,144,0.23);
			}
			.header-image {
				margin-top: 15px;
				margin-left: -15px;
				margin-bottom: 10px;
				width: calc(100% + 30px);
				height: 150px;
				object-fit: cover;
			}
			h2 {
				margin: -15px;
				padding: 15px 10px;
				background-color: $green;
				color: $white;
				position: relative;
				display: block;
				font-size: 1.3em;
				font-weight: bold;
				cursor: pointer;
			}
			p{
				font-size: 16px;
			}
			p:first-child {
				margin-top: 0;
			}
			.academy-part-count {
				display: inline-block;
				float: left;
				&.done {
					color: $green;
				}
			}
			.academy-reward {
				.text-italic {
					font-style: oblique;
				}
				ul {
					margin-top: 3px;
				}
			}
			.academy-readingtime {
				position: relative;
				display: block;
				float: right;
				img {
					height: 20px;
					margin-right: 5px;
					float: left;
				}
				span {
					float: right;
				}
			}
			.academy-currentlyreading {
				position: relative;
				display: block;
				float: left;
			}

			.academy-startcourse {
				display: inline-block;
				float: right;
				padding: 8px;
				min-width: 60px;
				margin: 0;
			}
			&-bottom {
				&-one, &-two {
					display: inline-block;
					width: 100%;
				}
				&-one {
					margin-bottom: 5px;
				}
			}
		}
	}

}

.academy-course {
	display:flex;
	flex-direction: row;

	img {
		max-width: 100%;
	}

	.title {
		margin: 15px 0 0px 0;
		padding: 15px 10px;
		background-color: $green;
		color: $white;
	  	position: relative;
		display: block;
		width: 100%;
		font-size: 1.25em;
		font-weight: 600;

		&-checkbox {
	      	display: none;
	    }
	    &-checkbox + label span {
			border: 2px solid $white;
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-bottom: -5px;
			margin-right: 15px;
			border-radius: 2px;
			position: relative;
	    }
	    &-checkbox:checked + label span::after {
			content: '';
			display: block;
			position: absolute;
			top: -1px;
			left: 5px;
			width: 7px;
			height: 13px;
			border: solid $white;
			border-width: 0 3px 3px 0;
			transform: rotate(45deg);
	    }

		&.fixed {
		    position: fixed;
		    top: -7px;
			width: 750px;
			left: 50%;
			transform: translateX(-50%);
			margin-left: -22px;
			z-index: 2;
	  	}
	}
	.part-progress-complete-button {
	  	position: relative;
		display: inline;
		float: right;
		margin: 15px 0 0px 0;
		padding: 15px 10px;
	    min-width: 120px;
	    font-size: 18px;
	    border: 2px solid $green;
		background-color: $white;
	    font-weight: 600;
	    border-radius: 5px;
	    margin-top: 20px;
	    margin-bottom: 40px;
	    cursor: pointer;
		transition: background-color .3s ease, color .3s ease;
		&:hover {
			color: $white;
			background-color: $green;
		}
	}
	.title + p {
		margin-top: 0;
	}
	&-courselist {
		width: 250px;
		height: 100%;
		a {
			display: block;
		}
		&.fixed {
			position: fixed;
			top: 30px;
		}
	}
	&-main{
		display:flex;
		flex-direction: row;
		width: 950px;
		&-content {
			width: 750px;
			&-part {
				&-readingtime {
					position: relative;
					display: inline-block;
					text-align: right;
					img {
						height: 20px;
						margin-right: 5px;
						margin-bottom: -4px;
					}
				}
			}
		}
		&-sidebar {
			width: 200px;
			padding-left: 20px;
			h3 {
				margin-bottom: 0;
			}
			progress {
				background-color: $lightest-grey;
				height: 8px;
				width: 100%;
				position: fixed;
			    top: 0px;
				width: 1200px;
				left: 50%;
				transform: translateX(-50%);
				margin-left: -8px;
				z-index: 2;
				&::-webkit-progress-bar {
				    background-color: $lightest-grey;
				}

				&::-webkit-progress-value {
					background-size: 30px 30px;
					background-color: $green;
					background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);
				}

				&::-moz-progress-bar {
				    background-color: $green;
				}
			}
			&.fixed {
			    position: fixed;
			    top: 0px;
		  	}
			&:not(.fixed) progress {
				display: none;
			}
		}
	}
}

.academy-dashboard {
	min-height: 700px;
	width: 1200px;
	background-color: $white;
	border-radius: 8px;
	position:relative;
	margin:0 auto 50px;

	&-container {
		display:flex;
		padding: 0 40px 0 40px;

		&-main {
			padding: 0 40px;
			width: 100%;
		}

		&-small-title {
			font-size: 18px;
			margin: 22px 0 20px;
		}
	}

	&-icon {
		width:70px;
		height:70px;
		background-color: $dark-grey;
		position:absolute;
		z-index:2;
		background-position: center;
		background-size: 46%;
		background-image: url("../../../images/prototypo-icon-white.svg");
		background-repeat: no-repeat;
		border-radius: 50%;
		border: solid $green 10px;
		top: -35px;
		right: -35px;
		transition: 0.8s;
		transform-style: preserve-3d;
		cursor: pointer;

		&:hover {
			transform:rotateY(180deg);
			background-image: url("../../../images/icon-back-hover-reversed.svg");
			background-color:$white;
		}
	}

	&-back-icon {
		background-image: url("../../../images/icon-back.svg");
		background-repeat: no-repeat;
		width:36px;
		height:36px;
		position:absolute;
		border:solid $white 5px;
		border-radius: 50%;
		left:-18px;
		top:30px;
		background-color:$white;
		background-size: 25px 25px;
		background-position:2px 1px;
		cursor:pointer;
		display:block;

		&:hover {
			background-image: url("../../../images/icon-back-hover.svg");
		}
	}
}
