<div class="contextmenu" id="contextmenu">
	<ul>
		<li
			ng-click="appValues.negative = !appValues.negative"
			>Toggle colors
		</li>
		<li
			ng-click="appValues.displayGuideLines = !appValues.displayGuideLines"
			ng-class="{ 'active' : appValues.displayGuideLines }"
			class="display"
			>guidelines
		</li>
		<li
			ng-click="appValues.displayGrid = !appValues.displayGrid"
			ng-class="{ 'active' : appValues.displayGrid }"
			class="display"
			>grid
		</li>
		<li
			ng-click="appValues.displayNodes = !appValues.displayNodes"
			ng-class="{ 'active' : appValues.displayNodes }"
			class="display"
			>nodes
		</li>
		<li
			ng-click="appValues.outlineOnly = !appValues.outlineOnly"
			ng-class="{ 'active' : appValues.outlineOnly }"
			class="display"
			>outline
		</li>
		<li
			ng-click="appValues.displaySpacing = !appValues.displaySpacing"
			ng-class="{ 'active' : appValues.displaySpacing }"
			class="display"
			>spacing
		</li>
	</ul>
</div>