<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" style="height: 100%;">
	<!-- using the height attribute on the svg tag would cause rendering issues for Webkit -->

	<g transform="matrix(1 0 0 -1 0 800) translate(400,50) skewX({{fontValues.slant}})">
		<path glyph-contour fill="black"></path>
		<g ng-repeat="segment in glyph.segments">
			<g bindonce ng-repeat="cp in segment.debug()">
				<path segment-endpoint bo-attr bo-attr-fill="cp.color" bo-attr-stroke="cp.color" index="{{$index}}" coords="{{ cp.start.toString() }} {{cp.end.toString()}}"></path>
			</g>
		</g>
	</g>

</svg>