<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1200" height="800" >
	<g transform="matrix(1 0 0 -1 0 800) translate(300,50) skewX({{controlValues.slant}})">
		<path glyph-contour fill="black"></path>
		<g ng-repeat="segment in processedGlyph">
			<path segment-endpoint fill="blue" index="{{$index}}" data-coords="{{segment.xy}}"></path>
			<path ng-repeat="(key, control) in segment.controls" index="{{$index}}" key="{{key}}" segment-control fill="red" stroke="red" data-coords="{{control.x}},{{control.y}}"></path>
		</g>
		<path fill="none" stroke="red" d="M -2500 {{ controlValues.xHeight }} l 12000 0" />
		<path fill="none" stroke="red" d="M -2500 {{ controlValues.capHeight }} l 12000 0" />
		<path fill="none" stroke-width="10" stroke="red" d="M -2500 0 l 1200 0" />
	</g>
</svg>