<g class="guidelines">
		<path vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#ff9cb6" d="M -20000 0 l 40000 0 Z" ></path>
	    <path vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#ffd5e0" d="M -20000 {{ - fontValues.opticRoundness }} l 40000 0 Z" ></path>
	    <path vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#96d2ea" d="M -20000 {{ fontValues.xHeight }} l 40000 0 Z" ></path>
	    <path vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#d2e9f7" d="M -20000 {{ fontValues.xHeight + fontValues.opticRoundness }} l 40000 0 Z" ></path>
	    <path vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#dadada" d="M -20000 {{ fontValues.capHeight }} l 40000 0 Z" ></path>
	    <path vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#dadada" d="M -20000 {{ fontValues.ascenderHeight }} l 40000 0 Z" ></path>
	    <path vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#dadada" d="M -20000 {{ fontValues.descender }} l 40000 0 Z" ></path>
</g>