<div class="row" ng-class="{ negative : appValues.negative }">
	<div class="sidebar col" ng-hide="appValues.displayUI">
		<div class="cell stringinput-cell">
			<div class="stringinput">
				<input type="text" ng-model="appValues.stringChars" />
			</div>
		</div>
		<div class="cell parammenu-cell">
			<parammenu></parammenu>
		</div>
		<div class="cell paramtabs-cell">
			<paramtabs></paramtabs>
		</div>
	</div>
	<div class="central col">
		<div class="cell scene-cell">
			<div style="position: absolute; left: 10000px;">
				<canvas id="twitpic" width="660" height="400"></canvas>
				<img id="exportedImage" width="660" height="400" src="#" />
			</div>

			<string ng-show="appValues.viewMode === 'string' " class="ng-hide"></string>
			<single ng-show="appValues.viewMode === 'single' " class="ng-hide"></single>
			<scene-buttons ng-hide="appValues.displayUI"></scene-buttons>
			<glyphlist ng-hide="appValues.displayUI"></glyphlist>
		</div>
		<menu ng-hide="appValues.displayUI"></menu>
		<context-menu></context-menu>
		<context-menu-string></context-menu-string>
	</div>
</div>
<div id="alertExport" style="padding: 6em; display: none; font-size: 3em; text-align: center; position: absolute; left: 0; top:0; right: 0; bottom: 0; background-color: #49e4a9;">
	<p>Donwload your font on http://designprototypo.tumblr.com with your personnal ID:</p>
	<p id="personnalID"></p>
	<p>Click on reset button to continue</p>
</div>
