<div id="admin" class="main admin">

	<a href="#/" class="close right pa3 hover">&nbsp;</a>
	
	<div class="aside">
		<a ui-sref="admin">
			<div class="header">
				<div>Hi <span id="userName"></span>!</div>
				<img id="avatar" src="./images/avatars/avatar.svg" alt="avatar">
			</div>
		</a>
		<ul>
			<li ui-sref-active="active">
				<a href="">Font info</a>
			</li>
			<li ui-sref-active="active"  class="z-disabled">
				<a href="">Item 2</a>
			</li>
			<li ui-sref-active="active"  class="z-disabled">
				<a href="">Item 3</a>
			</li>
			<li ui-sref-active="active"  class="z-disabled">
				<a href="">Item 4</a>
			</li>
			<li ui-sref-active="active"  class="z-disabled">
				<a href="">Delete typeface</a>
			</li>
		</ul>
	</div>

	<div class="content-wrapper" ui-view>

		<div class="header">
			<div class="title">This is a title</div>
		</div>

		<div class="content">
		</div>

	</div>

</div>