<div class="splash-login-bg bb">
	<div class="splash-login-wrapper splash-wrapper ng-hide" ng-show="!isLoggedIn">
		<div class="splash">
			<div class="visuel"></div>
			<div class="splash-content">
				<div class="row mt2">
					<form class="signin" name="signin" novalidate ng-submit="signIn()">
						<h4 class="mb1">Sign In</h4>
						<label for="s-email">Email</label>
						<input type="text" id="s-email" name="email"
						ng-model="email"
						required>

						<label for="s-password">Password</label>
						<input type="password" id="s-password" name="password"
						ng-model="password"
						required>

						<div class="error" ng-show="showErrors">
							<p ng-show="signin.$error.dontmatch">
								email or password incorrect
							</p>
							<p ng-show="signin.email.$error.required">
								email required
							</p>
							<p ng-show="signin.password.$error.required">
								password required
							</p>
						</div>

						<a href="" class="resetPassword mention">Request a password reset</a>
						<input type="submit" value="Sign In">
					</form>
				</div>
				<a href="/#/register" class="discret">I want to register</a>
			</div>
		</div>
		<div id="hoodie" class="splash">
			<div class="splash-content big pa3">
				<img src="http://hood.ie/images/f5af4e56.hoodie_logo.png" alt="hoodie">
				<div class="mt2">
					<p>At Prototypo, we love use sides open-source projects.</p>
					<p>To manage synchronisation and login, we use <a href="http://hood.ie/" target="_blank">hoodie</a>, a great solution for [insert description here] and they make all their best to improve their library, as the "reset my password" option for example : )</p>
					<p>For the moment, we do it manually, so click 'OK' to ask us</p>
					<div class="resetPassword discret">Cancel</div>
					<a  class="discret"
						href="mailto:support@prototypo.io
							?subject=Prototypo | Reset my password
							&body=Oh no : (%0D%0A%0D%0AI do not remember my password… Can you reset my account guys? %0D%0AThe email I used to register is [ Yes, it's your turn to write ] %0D%0A%0D%0A You rock guys, Thank you!
							">
						Ok
					</a>
				</div>
			</div>
		</div>
	</div>
</div>