<div class="sidebar col">
	<div class="cell altscene-cell">
		<preview></preview>
	</div>
	<div class="cell parammenu-cell">
		<parammenu></parammenu>
	</div>
	<div class="cell paramtabs-cell">
		<paramtabs></paramtabs>
	</div>
</div>

<div class="central col">
	<div class="cell scene-cell">
		<scene></scene>
	</div>
	<div class="cell glyphlist-cell">
		<glyphlist></glyphlist>
	</div>
	<zoom></zoom>
	<input class="reset btn" type="button" value="Reset" ng-click="resetFontValues()" />
	<menu></menu>
</div>