<div class="menu">
	<div class="btn">&#9776;</div>
	<ul class="level-1">
		<li>Save the current font</li>
		<li>Load font</li>
		<li>
			Styles presets
			<ul class="sub-level">
				<li>Humanist</li>
				<li>Garalde</li>
				<li>Transitional</li>
				<li>Didone</li>
				<li>Mechanistic</li>
				<li>Grotesque</li>
			</ul>
		</li>
		<li>Export</li>
		<li>
			View
			<ul class="sub-level">
				<li id="ui-guidelines">Toggle guidelines</li>
				<li>Toggle colors</li>
				<li id="ui-grid">Toggle grid</li>
				<li id="ui-nodes">Toggle nodes</li>
			</ul>
		</li>
	</ul>
</div>