<div class="menu">
	<ul class="level-1 clearfix">
		<li class="logo">
			<ul class="sub-level level-2">
				<li><a target="_blank" href="http://blog.prototypo.io">About prototypo</a></li>
				<li><a href="http://blog.prototypo.io" target="_blank">Latest news</a></li>
			</ul>
		</li>
		<li>
			File
			<ul class="sub-level level-2">
				<li ng-click="resetFontValues()">New font</li>
				<li class="disabled">load font settings</li>
				<li class="disabled">Export fontface kit</li>
				<li ng-click="exportToSVG()">Export as svg font</li>
			</ul>
		</li>
		<li>
			Edit
			<ul class="sub-level level-2">
				<li class="disabled">Modify current glyph template</li>
				<li class="disabled">item 2</li>
				<li class="disabled">item 3</li>
			</ul>
		</li>
		<li>
			Font
			<ul class="sub-level level-2">
				<li class="arrow">
					Styles presets
					<ul class="sub-level level-3 preset-menu">
						<li bindonce ng-repeat="(name, preset) in typeface.presets"
							class="preset-menu-item"
							bo-text="name"
							bo-attr
							bo-attr-data-name="name"
							bo-attr-data-i="$index">
						</li>
					</ul>
				</li>
				<li class="disabled">New glyph</li>
				<li class="disabled">New component</li>
			</ul>
		</li>
		<li>
			View
			<ul class="sub-level level-2">
				<li ng-click="appValues.displayGuideLines = !appValues.displayGuideLines">Toggle guidelines</li>
		        <li ng-click="appValues.negative = !appValues.negative">Toggle colors</li>
		        <li ng-class=" { disabled: appValues.viewMode === 'string' } " ng-click="appValues.displayGrid = !appValues.displayGrid">Toggle grid</li>
		        <li ng-class=" { disabled: appValues.viewMode === 'string' } " ng-click="appValues.displayNodes = !appValues.displayNodes">Toggle nodes</li>
		        <li ng-class=" { disabled: appValues.viewMode === 'string' } " ng-click="appValues.outlineOnly = !appValues.outlineOnly">Toggle outline</li>
		        <li ng-class=" { disabled: appValues.viewMode === 'string' } " ng-click="appValues.displaySpacing = !appValues.displaySpacing">Toggle spacing</li>
		        <li ng-class=" { disabled: appValues.viewMode === 'single' } " ng-click="appValues.invertFont = !appValues.invertFont">Inverted view</li>
			</ul>
		</li>
		<li>
			Help
			<ul class="sub-level level-2">
				<li class="disabled">Documentation</li>
				<li><a href="https://github.com/byte-foundry/prototypo/issues?state=open" target="_blank">Bug tracker</a></li>
				<li ng-click="appValues.showSplash = true">About the beta</li>
				<li ng-click="resetApp()">Reset App</li>
			</ul>
		</li>
	</ul>
</div>