<div class="menu">
	<div class="btn">&#9776;</div>
	<ul class="level-1">
		<li>
			Styles presets
			<ul class="sub-level preset-menu">
				<li bindonce ng-repeat="(name, preset) in typeface.presets"
					class="preset-menu-item"
					bo-text="name"
					bo-attr
					bo-attr-data-name="name"
					bo-attr-data-i="$index">
				</li>
			</ul>
		</li>
		<li ng-click="exportToSVG()">Export as svg font</li>
		<li>
			View
			<ul class="sub-level">
				<li id="ui-guidelines">Toggle guidelines</li>
				<li>Toggle colors</li>
				<li id="ui-grid">Toggle grid</li>
				<li id="ui-nodes">Toggle nodes</li>
				<li id="ui-spacing">Toggle spacing</li>
			</ul>
		</li>
	</ul>
</div>