<div class="paramspanel">
	<input type="button" value="Reset" ng-click="resetFontValues()" />

	<select ng-model="appValues.glyphName" ng-options="value for value in typeface.order"></select>

	<div class="paramstab dummy">
		<div class="paramctrl-gutter dummy">
			<div class="paramctrl-bg dummy">
				<div class="paramctrl-handle dummy"></div>
			</div>
		</div>
	</div>

	<ul class="paramstab-menu unstyled pa0 row">
		<li class="paramstab-menuitem col" bindonce ng-repeat="group in typeface.parameters"
			ng-class="appValues.paramTab == $index ? 'selected' : ''"
			bo-text="group.label"
			bo-attr
			bo-attr-data-index="$index"
		>
		</li>
	</ul>

	<div class="paramstab" ng-repeat="group in typeface.parameters"
		ng-class="appValues.paramTab == $index ? 'selected' : ''"
	>
		<div class="paramctrl" bindonce ng-repeat="param in group.parameters"
			value="{{ fontValues[param.name] }}"
			bo-attr
			bo-attr-data-name="param.name"
			bo-attr-data-min="param.min"
			bo-attr-data-max="param.max"
			bo-attr-data-step="param.step"
		>
			<label bo-text="param.label"></label>
			<div class="paramctrl-gutter">
				<div class="paramctrl-bg">
					<div class="paramctrl-handle"></div>
				</div>
			</div>
		</div><!-- .parameter -->
	</div>
</div>