<div class="paramspanel">
	<div class="paramstab dummy">
		<div class="paramctrl-gutter dummy">
			<div class="paramctrl-bg dummy">
				<div class="paramctrl-handle dummy"></div>
			</div>
		</div>
	</div>

	<div class="paramstab" bindonce ng-repeat="group in typeface.parameters"
		ng-class="appValues.paramTab == $index ? 'selected' : ''"
	>
		<div class="paramctrl" bindonce ng-repeat="param in group.parameters"
			value="{{ fontValues[param.name] }}"
			bo-attr
			bo-attr-data-name="param.name"
			bo-attr-data-min="param.min"
			bo-attr-data-max="param.max"
			bo-attr-data-step="param.step"
		>
			<label bo-text="param.label"></label>
			<div class="paramctrl-gutter">
				<div class="paramctrl-bg">
					<div class="paramctrl-handle"></div>
				</div>
			</div>
		</div><!-- .parameter -->
	</div>
</div>