<div class="paramtab" ng-class="appValues.paramTab == $index ? 'selected' : ''">
	<ul class="unstyled pa0">
		<li class="paramctrl" bindonce ng-repeat="param in group.parameters"
			bo-id="'param-' + param.name"
			bo-attr
			bo-attr-data-name="param.name"
			bo-attr-data-init="param.init"
			bo-attr-data-min="param.min"
			bo-attr-data-max="param.max"
			bo-attr-data-step="param.step"
			bo-attr-data-minAdviced="param.minAdviced"
			bo-attr-data-maxAdviced="param.maxAdviced"
		>
			<label bo-text="param.label"></label>
			<div class="reset">Reset</div>
			<input type="number" ng-model="fontValues[param.name]" bindonce
				bo-attr
				bo-attr-name="param.name"
				bo-attr-min="param.min"
				bo-attr-max="param.max"
				bo-attr-step="param.step"
			/>
			<div class="paramctrl-gutter">
				<div class="paramctrl-bg">
					<div class="paramctrl-handle"></div>
				</div>
			</div>
		</li><!-- .parameter -->
	</ul>
</div>