<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1200" height="800" >
	<g transform="matrix(1 0 0 -1 0 800) translate(250,50) skewX({{inputValues.slant}})">
		<path fill="black"
			ng-controller="glyphCtrl"
			my-contour-path="{{ glyph = processGlyph( currentFont, currentGlyphCode, inputValues ) }}"
			d=""
		/>
		<path fill="blue"
			d="{{ processGlyph( currentFont, currentGlyphCode, inputValues ) | points }}"
		/>
		<path fill="none" stroke="red"
			d="{{ processGlyph( currentFont, currentGlyphCode, inputValues ) | anchors }}"
		/>
	</g>
</svg>