<label>S. width: </label><input type="range" min=0 max=100 step="1" ng-model="dim.s_width" /><br />
<label>S. height: </label><input type="range" min=0 max=50 step="1" ng-model="dim.s_height" /><br />
<label>S. median: </label><input type="range" min=0 max=2 step="0.1" ng-model="dim.s_median" /><br />
<label>S. curve: </label><input type="range" min=-0.1 max=1.1 step="0.01" ng-model="dim.s_curve" /><br />
<label>S. arc: </label><input type="range" min=-1 max=1 step="0.1" ng-model="dim.s_arc" /><br />
<label>S. terminal: </label><input type="range" min=-0.2 max=1 step="0.01" ng-model="dim.s_terminal" /><br />
<label>S. symmetry: </label><input type="range" min=0 max=1 step="0.01" ng-model="dim.s_symmetry" /><br />
<label>X height: </label><input type="range" min=400 max=700 step="1" ng-model="dim.x_height" /><br />
<label>Cap. height: </label><input type="range" min=0 max=20 step="1" ng-model="dim.cap_height" /><br />
<label>Ascender: </label><input type="range" min=0 max=20 step="1" ng-model="dim.ascender" /><br />
<label>Descender: </label><input type="range" min=0 max=20 step="1" ng-model="dim.descender" /><br />
<label>Crossbar: </label><input type="range" min=0 max=20 step="1" ng-model="dim.crossbar" /><br />
<label>Thickness: </label><input type="range" min=0 max=200 step="1" ng-model="dim.thickness" /><br />
<label>Width: </label><input type="range" min=0 max=200 step="1" ng-model="dim.width" /><br />
<label>Slant: </label><input type="range" min=0 max=20 step="1" ng-model="dim.slant" /><br />
<label>Vert. contrast: </label><input type="range" min=0 max=20 step="1" ng-model="dim.vert_contrast" /><br />
<label>Hor. contrast: </label><input type="range" min=0 max=20 step="1" ng-model="dim.hor_contrast" /><br />
<label>Contrast: </label><input type="range" min=0 max=20 step="1" ng-model="dim.contrast" /><br />
<label>Break path: </label><input type="range" min=0 max=20 step="1" ng-model="dim.break_path" /><br />
<label>Counter: </label><input type="range" min=0 max=20 step="1" ng-model="dim.counter" /><br />
<label>Inktrap: </label><input type="range" min=0 max=20 step="1" ng-model="dim.inktrap" /><br />
<label>Roundness: </label><input type="range" min=0 max=1 step="0.01" ng-model="dim.roundness" /><br />
