<g class="spacing">
	<path opacity="0.1" vector-effect="non-scaling-stroke" stroke-width="1px" fill="#e1ffd2" stroke="lightGreen" ng-attr-d="M {{- allGlyphs[appValues.singleChar].left }} -20000 l 0 40000 l -40000 0 l 0 40000 Z" ></path>
	<path class="spacingLine" vector-effect="non-scaling-stroke" stroke-width="1px" fill="lightGreen" stroke="lightGreen" ng-attr-d="M {{- allGlyphs[appValues.singleChar].left }} -20000 l 0 40000 Z" ></path>
	<path opacity="0.1" vector-effect="non-scaling-stroke" stroke-width="1px" fill="#e1ffd2" stroke="lightGreen" ng-attr-d="M {{ allGlyphs[appValues.singleChar].width + allGlyphs[appValues.singleChar].right }} -20000 l 0 40000 l 40000 0 l 0 -40000 Z" ></path>
	<path class="spacingLine" vector-effect="non-scaling-stroke" stroke-width="1px" fill="lightGreen" stroke="lightGreen" ng-attr-d="M {{ allGlyphs[appValues.singleChar].width + allGlyphs[appValues.singleChar].right }} -20000 l 0 40000 Z" ></path>
</g>