<div class="splash-wrapper ng-hide" ng-show="appValues.showSplash">
	<div class="splash">
		<div class="visuel"></div>
		<div class="splashContent">
			<a class="close" ng-click="appValues.showSplash = false">⨯</a>
			<h1 class="h2-like mt0">Thank you for trying Prototypo Beta!</h1>
			<h3>
				This is just the beginning.
			</h3>
			<ul class="h5-like unstyled">
				<li>
					The <a target="_blank" href="http://www.prototypo.io">planned features</a>
					are listed on the project page.
				</li>
				<li>
					The <a target="_blank" href="http://blog.prototypo.io/prototypo-update-3-first-fonts/">current workflow</a>
					is detailed on the blog.
				</li>
				<li>
					Send us feedback on the forum (smiley icon)
					or on <a target="_blank" href="https://github.com/byte-foundry/prototypo/issues?state=open">Github</a>.
				</li>
			</ul>
			<h4>
				The development of Prototypo needs your financial support.
			</h4>
			<p class="h5-like">
				Don't miss our KickStarter campaign, <a target="_blank" href="http://www.prototypo.io/#newsletter">subscribe to the newsletter</a>.
			</p>
		</div>
	</div>
</div>