<div class="preview">
	<div style="height: 100%;">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
			viewBox="-800 -1400 10000 2200"
		>
			<g id="string" ng-attr-transform="scale( 1 , {{ appValues.invertFont ? 1 : -1 }} ) translate ( 0 , {{ appValues.invertFont ? 0 : -fontValues.ascender || -465 }} ) skewX({{ fontValues.slant || 0 }}) ">

				<path class="baseLine" vector-effect="non-scaling-stroke" stroke-width="1px" fill="green" stroke="#ffd9da" d="M -20000 0 l 150000 0 Z" ></path>

				<g id="guidelines" style="pointer-events:none;" ng-show="appValues.displayGuideLines" class="ng-hide">
					<path vector-effect="non-scaling-stroke" stroke-width="1px" opacity=".6" fill="#f9e8ef" stroke="#ffd5e0" ng-attr-d="M -20000 {{ - fontValues.overshoot || 0 }} l 40000 0 l 0 {{ fontValues.overshoot || 0 }} l -40000 0 Z" ></path>
					<path vector-effect="non-scaling-stroke" stroke-width="1px" fill="lightGreen" stroke="#96d2ea" ng-attr-d="M -20000 {{ fontValues.xHeight || 0 }} l 40000 0 Z" ></path>
					<path vector-effect="non-scaling-stroke" stroke-width="1px" opacity=".6" fill="#e1f1f9" stroke="#d2e9f7" ng-attr-d="M -20000 {{ fontValues.xHeight + fontValues.overshoot || 0 }} l 40000 0 l 0 {{ - fontValues.overshoot || 0 }} l -40000 0 Z" ></path>
					<path vector-effect="non-scaling-stroke" stroke-width="1px" fill="lightGreen" stroke="#dadada" ng-attr-d="M -20000 {{ fontValues.capHeight || 0 }} l 40000 0 Z" ></path>
					<path vector-effect="non-scaling-stroke" stroke-width="1px" opacity=".6" fill="#fefefe" stroke="#e9e9e9" ng-attr-d="M -20000 {{ fontValues.capHeight + fontValues.overshoot || 0 }} l 40000 0 l 0 {{ - fontValues.overshoot || 0 }} l -40000 0 Z" ></path>
					<path vector-effect="non-scaling-stroke" stroke-width="1px" fill="lightGreen" stroke="#dadada" ng-attr-d="M -20000 {{ fontValues.ascenderHeight || 0 }} l 40000 0 Z" ></path>
					<path vector-effect="non-scaling-stroke" stroke-width="1px" fill="lightGreen" stroke="#dadada" ng-attr-d="M -20000 {{ fontValues.descender || 0 }} l 40000 0 Z" ></path>
				</g>

				<path ng-repeat="char in appValues.stringChars.split('') track by $index"
					glyph-contour="{{char}}"
					fill="{{ appValues.outlineOnly ? 'none' :appValues.negative ? '#ffffff' : '#3c3c3b' }}"
					ng-attr-transform="translate({{ getTranslate( $index, char ) }})"
				></path>
			</g>
		</svg>
	</div>
</div>