<div id="userAdmin" class="userAdmin" ng-show="appValues.showUserAdmin">
	
	<div class="aside">
		<div class="pa3">Hello <span id="userName"></span>!</div>
		<ul>
			<li class="active">Change password</li>
			<li class="disabled">Change my mail</li>
			<li class="disabled">Browse projects</li>
			<li class="disabled">Share projects</li>
			<li class="disabled">My community</li>
		</ul>
	</div>

	<div class="content">
		<span class="right pa3 big hover" ng-click="appValues.showUserAdmin = !appValues.showUserAdmin">✕</span>
		<div>
			<div class="pa2"><h2>Change password</h2></div>
			<div class="pa2">
				<form name="changePassword" ng-submit="changePasswordForm()" ng-hide="showSucess">
					<label for="r-password">Password (6 characters or more)</label>
					<input type="password" id="r-password" name="password"
					ng-model="password"
					ng-minlength="6"
					required>

					<label for="r-confirm">Confirm password</label>
					<input type="password" id="r-confirm" name="confirm"
					ng-model="confirm"
					required>

					<div class="error" ng-show="showErrors">
						passwords don't match
					</div>

					<input type="submit" value="Change password" ng-disabled="!match">
				</form>
				<div ng-show="showSucess">
					<div class="h1-like white">Password successfully changed!</div>
				</div>
			</div>
		</div>
	</div>

</div>